.about-container
  margin 94px 0px 82px 0px

.about-content
  align-items center
  background url('../img/backgrounds/about-bg-1.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  flex-direction row
  justify-content center
  padding-top 73px
  padding-bottom 92px

.about-vertical-line
  background-color #82b3d7
  height 386px
  margin-right 54px
  position relative
  width 2px

.heavy-vertical-line
  background-color #0068b3
  height 64px
  left -1.5px
  width 5px
  position absolute
  top 0px

.about-title
  color #0f2335
  font-size remify(30px)
  margin 0px

.about-description
  color #132c3e
  font-size remify(15px)
  line-height 25px
  margin 21px 0px 37px 0px
  max-width 450px

.about-team-anchor
  outline 0

.about-team-button
  color #fff
  cursor pointer
  background-color #66b245
  border none
  border-radius 2px
  font-size remify(13px)
  height 40px
  letter-spacing 1px
  margin 0px
  text-transform uppercase
  width 162px

.about-rer-panel
  background-color #f9f9f9
  padding 117px 0px 170px 132px
  position relative
  max-width 740px

.about-horizontal-line
  background-color #82b3d7
  height 2px
  left 0px
  width 184px
  position absolute
  top 175px

.heavy-horizontal-line
  background-color #0068b3
  height 5px
  width 53px
  position absolute
  right 0px
  top -1.5px

.about-rer-title
  text-transform uppercase
  
.about-rer-container
  display block
  
.rer-group-scrollbar
  display none

.about-rer-description
  color #132c3e
  font-size remify(15px)
  line-height 25px
  margin 44px 0px 0px 0px
  max-width 490px
  
.about-rer-content
  position relative

.about-rer-content-img
  position absolute
  top 202px
  right -540px

.about-rer-img
  height auto
  max-width 590px
  width 100%

.about-rer-history
  background url('../img/backgrounds/section-5.jpg')
  background-position center
  backgroun-repeat no-repeat
  background-size cover
  bottom -320px
  left 178px
  padding 37px 65px
  position absolute
  width 562px
  z-index 2
  
.about-img-container
  display none

.rer-history-mask
  background-color rgba(0, 104, 179, .70)
  bottom 0px
  left 0px
  opacity 1
  position absolute
  right 0px
  top 0px

.rer-history
  color #fff
  font-size remify(15px)
  line-height 25px
  position relative

.about-team-container
  margin-top 420px

.team-title-content
  align-items center
  display flex
  flex-direction column

.about-team-underline
  background-color #0068b3
  height 3px
  margin-top 20px
  width 55px

.about-team-description
  color #132c3e
  font-size remify(15px)
  line-height 25px
  margin 23px 0px 80px 0px
  text-align center
  max-width 695px

.team-member-content
  display flex
  flex-direction row
  flex-wrap wrap
  height 563px
  width 100%

.team-member
  &-1
    background url('../img/team/member-1.jpg')

  &-2
    background url('../img/team/member-2.jpg')

  &-3
    background url('../img/team/member-3.jpg')

  &-4
    background url('../img/team/member-4.jpg')

  &-5
    background url('../img/team/member-5.jpg')

  &-6
    background url('../img/team/member-6.jpg')

  &-7
    background url('../img/team/member-7.jpg')
    
  &-8
    background url('../img/team/member-8.jpg')

.team-member-img
  background-position center
  background-repeat no-repeat
  background-size cover
  cursor pointer
  position relative
  width 25%

  &:hover
    .team-member-mask
      opacity 1

.team-member-mask
  background-color rgba(7, 78, 129, .8)
  bottom 0px
  display flex
  flex-direction column
  justify-content center
  left 0px
  position absolute
  right 0px
  transition 300ms opacity ease
  top 0px
  opacity 0
  padding 0 42px

.team-member-name
  color #fff
  font-size remify(15px)
  margin 0 0 4px 0
  text-transform uppercase

.team-member-job
  color #fff
  font-size remify(11px)
  margin 0px
  text-transform uppercase
  
.team-member-email
  color #fff
  font-size remify(11px)
  margin 4px 0 0 0

.team-member-separator
  background-color #fff
  height 1px
  margin 19px 0px
  width 138px

.team-member-description
  color #fff
  font-size remify(11px)
  margin 0px

.about-partners-container
  display flex
  justify-content flex-end
  margin 0px 103px
  position relative
  
.about-partners-mobile
  display none

.about-partners-panel
  background-color #fafafa
  height 670px
  width 874px
  
.partners-img-container
  display block
  margin-right 0px
  width 100%

.about-partners-content
  align-items center
  display flex
  flex-direction row
  left 0px
  padding-right 103px
  position absolute
  top 125px

.margin-right-70px
  margin-right 70px

.about-partners-img
  height 425px
  width 393px

.about-partners-description
  color #132c3e
  font-size remify(15px)
  line-height 25px
  margin 15px 0px 0px 0px
  
.about-rer-content-img-modifier
  display none
  
@media screen and (max-width 780px)
  .about-container
    margin-top 56px

  .about-content
    padding-left 46px
    padding-right 46px
    padding-bottom 30px
    
  .about-vertical-line
    height 440px
    margin-right 30px

  .heavy-vertical-line
    border-radius 2px
    height 26px
    left 0px
    width 3px

  .about-title
    font-size remify(24px)

  .about-description
    line-height 21px
    margin-bottom 25px
    
  .about-team-button
    font-size remify(12px)
    height 30px
    letter-spacing 1.8px
    text-transform uppercase
    width 140px
    
  .about-rer-panel
    padding-top 81px
    padding-left 0px
    padding-bottom 0px
    
  .padding-left-40px-mobile
    padding-left 40px
    
  .about-rer-container
    display none
    
  .rer-group-scrollbar
    display block
    height 210px
    margin-top 44px
    margin-bottom 140px
    margin-right 40px
    overflow auto
    position relative
    
  .about-rer-description
    line-height 21px
    padding-bottom 0px
    padding-left 40px
    padding-right 40px
    
  .margin-top-0px-mobile
    margin-top 0px
    
  .about-horizontal-line
    height 1px
    top 125px
    width 76px
    
  .heavy-horizontal-line
    height 3px
    width 35px
    
  .about-rer-content-img
    display none
    
  .about-rer-history
    bottom 0
    left 0
    padding 180px 40px 50px 40px
    position relative
    width 100%
    
  .about-img-container
    display block
    position absolute
    right 0
    top -60px
    z-index 1
    
  .about-img
    height 204px
    width 276px
    
  .rer-history
    line-height 21px
    
  .about-team-container
    margin-top 50px
    margin-bottom 46px
    
  .about-team-underline
    margin-top 15px
    width 40px
    
  .about-team-description
    line-height 20px
    margin-bottom 50px
    padding 0px 50px
    
  .team-member-content
    height auto
    
  .team-member-img
    border-bottom solid 3px #fff
    height 200px
    width 50%
    
  .team-member-img:nth-child(odd)
    border-right solid 2px #fff
    
  .team-member-img:nth-child(even)
    border-left solid 1px #fff
    
  .team-member-mask
    padding 0px 15px 0px 15px
    
  .team-member-name
    font-size remify(13px)
    letter-spacing 0.6px
    margin-bottom 4px
    
  .team-member-job
    font-size remify(11px)
    letter-spacing 0.6px
    
  .team-member-separator
    margin 9px 0px
    width 110px
    
  .about-partners-container
    display none
    
  .about-partners-mobile
    display block
    position relative

  .about-partners-panel
    background-color #f1f1f1
    height 280px
    position absolute
    right 0
    width 200px
    z-index -1

  .about-partners-img
    height 200px
    margin-top 44px
    width 100%

  .about-partners-content
    flex-direction column
    margin-top 80px
    padding-left 45px
    padding-right 0px
    position relative
    top 0
    
  .margin-scrollbar
    margin-top 15px
    margin-bottom 0px
    
  .about-partners-description
    line-height 21px
    padding-right 40px
    
@media screen and (max-width 1070px)
  .about-partners-container
    margin 0
    
@media screen and (min-width 871px) and (max-width 899px)
  .team-member-mask
    padding 0 30px
    
@media screen and (min-width 667px) and (max-width 780px)
  .team-member-img
    height 300px

  .team-member-mask
    padding 0 50px
    
@media screen and (max-width 870px) and (min-width 781px)
  .about-rer-content-img
    margin-top 40px
    position initial

  .team-member-mask
    padding 0 30px

  .about-partners-panel
    height 900px

  .about-partners-content
    align-items flex-start
    flex-direction column
    padding-left 40px
    padding-right 50px

  .about-partner-mobile
    margin-top 40px

@media screen and (min-width 1230px) and (max-width 1300px)
  .about-rer-content-img
    left 670px
    right auto

  .about-rer-img
    width 530px

@media screen and (min-width 1160px) and (max-width 1229px)
  .about-rer-content-img
    left 670px
    right auto

  .about-rer-img
    width 460px

@media screen and (min-width 1080px) and (max-width 1159px)
  .about-rer-content-img
    left 670px
    right auto

  .about-rer-img
    width 385px

@media screen and (min-width 1000px) and (max-width 1079px)
  .about-rer-content-img
    left 670px
    right auto

  .about-rer-img
    width 310px

@media screen and (min-width 950px) and (max-width 999px)
  .about-rer-content-img
    left 670px
    right auto

  .about-rer-img
    width 250px

@media screen and (min-width 871px) and (max-width 949px)
  .about-rer-content-img
    margin-top 40px
    position initial
    
@media screen and (min-width 1380px) and (max-width 1400px)
  .about-rer-img
    width 580px
    
@media screen and (min-width 1500px)
  .about-rer-content-img
    display none

  .about-rer-img
    max-width 700px
    width 100%

  .about-rer-content-img-modifier
    display block
    left auto
    position absolute
    right 0
    top 202px
    z-index 1
