.about-container
  margin 94px 0px 82px 0px

.about-content
  align-items center
  background url('../img/backgrounds/about-bg-1.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  flex-direction row
  justify-content center
  padding-top 73px
  padding-bottom 92px

.about-vertical-line
  background-color #82b3d7
  height 386px
  margin-right 54px
  position relative
  width 2px

.heavy-vertical-line
  background-color #0068b3
  height 64px
  left -1.5px
  width 5px
  position absolute
  top 0px

.about-title
  color #0f2335
  font-size remify(30px)
  margin 0px

.about-description
  color #132c3e
  font-size remify(15px)
  line-height 25px
  margin 21px 0px 37px 0px
  max-width 450px

.about-team-button
  background-color #66b245
  border none
  border-radius 2px
  height 40px
  outline 0 !important
  width 162px

.about-button-text
  color #fff
  font-size remify(13px)
  margin 0px

.about-rer-panel
  background-color #f9f9f9
  padding 117px 0px 170px 132px
  position relative
  max-width 740px

.about-horizontal-line
  background-color #82b3d7
  height 2px
  left 0px
  width 184px
  position absolute
  top 175px

.heavy-horizontal-line
  background-color #0068b3
  height 5px
  width 53px
  position absolute
  right 0px
  top -1.5px

.about-rer-title
  text-transform uppercase

.about-rer-description
  color #132c3e
  font-size remify(15px)
  line-height 25px
  margin 44px 0px 0px 0px
  max-width 490px

.about-rer-content-img
  position absolute
  top 96px
  right -400px

.about-rer-img
  height 759px
  width 472px

.about-rer-history
  background url('../img/backgrounds/section-5.jpg')
  background-position center
  backgroun-repeat no-repeat
  background-size cover
  bottom -320px
  left 185px
  padding 37px 65px
  position absolute
  width 562px

.rer-history-mask
  background-color rgba(0, 104, 179, .70)
  bottom 0px
  left 0px
  opacity 1
  position absolute
  right 0px
  top 0px

.rer-history
  color #fff
  font-size remify(15px)
  line-height 25px
  position relative

.about-team-container
  margin-top 420px

.team-title-content
  align-items center
  display flex
  flex-direction column

.about-team-underline
  background-color #0068b3
  height 3px
  margin-top 20px
  width 55px

.about-team-description
  color #132c3e
  font-size remify(15px)
  line-height 25px
  margin 23px 0px 80px 0px
  text-align center
  max-width 695px

.team-member-content
  display flex
  flex-direction row
  flex-wrap wrap
  height 563px
  width 100%

.team-member
  &-1
    background url('../img/team/member-1.jpg')

  &-2
    background url('../img/team/member-2.jpg')

  &-3
    background url('../img/team/member-3.jpg')

  &-4
    background url('../img/team/member-4.jpg')

  &-5
    background url('../img/team/member-5.jpg')

  &-6
    background url('../img/team/member-6.jpg')

  &-7
    background url('../img/team/member-7.jpg')

.team-member-img
  background-position center
  background-repeat no-repeat
  background-size cover
  position relative
  width 25%

  &:hover
    .team-member-mask
      opacity 1

.team-member-mask
  background-color rgba(7, 78, 129, .8)
  bottom 0px
  left 0px
  position absolute
  right 0px
  transition 300ms opacity ease
  top 0px
  opacity 0
  padding 68px 52px

.team-member-name
  color #fff
  font-size remify(15px)
  margin 0px
  text-transform uppercase

.team-member-job
  color #fff
  font-size remify(12px)
  margin 0px
  text-transform uppercase

.team-member-separator
  background-color #fff
  height 1px
  margin 19px 0px
  width 138px

.team-member-description
  color #fff
  font-size remify(11px)
  margin 0px

.about-partners-container
  display flex
  justify-content flex-end
  margin 0px 103px
  position relative

.about-partners-panel
  background-color #fafafa
  height 670px
  width 874px

.about-partners-content
  align-items center
  display flex
  flex-direction row
  left 0px
  padding-right 103px
  position absolute
  top 125px

.margin-right-70px
  margin-right 70px

.about-partners-img
  height 425px
  width 393px

.about-partners-description
  color #132c3e
  font-size remify(15px)
  line-height 25px
  margin 15px 0px 0px 0px
