.contact-container
  background url('../img/backgrounds/solar-benefits-2.png')
  background-position center
  background-repeat no-repeat
  background-size cover

.contact-tite
  color #132c3e
  font-size remify(35px)
  margin 0px
  padding-top 140px
  text-align center
  
.contact-square-gray
  background-color #fafafa
  height 695px
  width 940px

.contact-content
  display flex
  flex-direction row
  justify-content flex-end
  margin-top 70px
  
.contact-form
  background-color #fafafa
  display flex
  flex-direction column
  padding 70px 20% 130px 10%
  width 100%
  
.contact-form-content
  display flex
  flex-direction row
  
.contact-input-content
  display flex
  flex-direction column
  margin-bottom 36px
  width 100%

.margin-right-59px
  margin-right 59px
  
.contact-input-label
  color #2d3746
  font-size remify(13px)
  margin 0px
  padding-left 10px
  padding-bottom 15px
  
.contact-input
  color #787878
  background-color transparent
  border-top 0px
  border-right 0px
  border-left 0px
  border-bottom solid 1px #7e7e7e
  font-size remify(13px)
  padding-left 10px
  
.contact-text-area
  color #787878
  background-color transparent
  border solid 1px #7e7e7e
  height 180px
  font-size remify(13px)
  padding 10px
  
.contact-text-area::placeholder
  color #c4c4c4
  font-size remify(11px)
  
.contact-submit-container
  display flex
  justify-content flex-end
  
.contact-submit
  background-color #66b245
  border none
  border-radius 1px
  color #fff
  cursor pointer
  font-size remify(12px)
  height 37px
  letter-spacing 2px
  text-transform uppercase
  width 119px
  
.contact-data-content
  background url('../img/backgrounds/section-5.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  flex-direction column
  height 290px
  justify-content center
  margin 70px 0 0 -140px
  padding 0px 100px 0px 80px
  
.contact-data-description
  color #fff
  font-size remify(17px)
  line-height 21px
  margin 0px
  width 260px
  
.contact-data-button
  background-color #66b245
  border none
  border-radius 1px
  color #fff
  cursor pointer
  font-size remify(10px)
  height 37px
  letter-spacing 2px
  margin-top 30px
  text-transform uppercase
  width 180px
  
.sites-container
  display none
  
.contact-background-bottom
  background url('../img/utils/contact-bottom.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  height 450px
  width 100%
  
@media screen and (max-width 975px)
  .contact-container
    background-position initial
    margin-top 60px

  .contact-content
    background-position center
    background-repeat no-repeat
    background-size cover
    flex-direction column
    margin-top 50px
    
  .contact-tite
    font-size remify(24px)
    padding-top 60px
    
  .contact-form
    background-color transparent
    padding 0 10% 0 10%
    
  .contact-form-content
    flex-direction column
    
  .label-required-mobile:after
    color #106198
    content "*"
    font-size remify(11px)
    margin-left 2px
    
  .contact-data-content
    height 190px
    margin 60px 0 0 30%
    padding 0px 30px 0px 30px
    
  .contact-data-description
    font-size remify(13px)
    width auto
    
  .contact-data-button
    font-size remify(11px)
    height 30px
    margin-top 20px
    width 135px
    
  .contact-background-bottom
    height 193px
    
  .sites-container
    background-color #fff
    display block
    margin-top -25px
    padding 50px 0px
    
  .sites-horizontal-center
    display flex
    justify-content center
    
  .sites-link
    align-items center
    display flex
    flex-direction row
    outline 0
    
  .margin-bottom-9px-mobile
    margin-bottom 9px
    
  .sites-icon
    height 16px
    width 16px
    
  .sites-text-link
    color #817f7f
    font-size remify(11px)
    letter-spacing 3px
    margin 0px 0px 0px 5px
    text-transform uppercase