/*------------------------------------
  first section
------------------------------------*/
.section-one
  //background-image url('../img/backgrounds/section-1b.png')
  background-image url('../img/backgrounds/section-1.jpg')
  height 67.1vw
  display flex
  justify-content center
  align-items center
  
.section_one-container
  width 600px
  text-align center
  
.section-one_title
  font-size remify(45px)
  color #fff
  font-weight $thin
  line-height 1.33
  
  h1&
    margin 0

.section-one_content
  color #fff
  font-size remify(18px)
  width 500px
  line-height 1.28
  center-block()
  margin-top 35px
  
.rer-button
  text-transform uppercase
  color #fff
  background-color $rerblue-two
  padding 11px 35px
  line-height 2.23
  border 0
  font-size remify(13px)
  letter-spacing 2.1px
  margin-top 40px

/*------------------------------------
  second section
------------------------------------*/
.relative-container
  position relative
  top -200px

.section_two
  height 1223px
  background-image url('../img/backgrounds/section-2.png')
  background-size 100% 100%
  padding-top 321px

.section_two-title
  color #fff
  font-size remify(40px)
  text-align center
  margin-bottom 114px
  font-weight $thin
  letter-spacing 1px
  
  span
    font-weight $semibold

.section_two-content
  display flex
  flex-wrap wrap
  justify-content center
  width 90%
  max-width 819px;
  center-block()

.service
  display flex
  flex-direction column-reverse
  width 172px
  margin-right 147px
  margin-bottom 61px

.service-image
  width 172px

.service-title
  color #fff
  text-transform uppercase
  text-align center
  height 58px
  letter-spacing 1.3px
  line-height 1.38
  font-weight $thin

/*------------------------------------
  third section
------------------------------------*/
.section_three
  height 342px
  background-image url('../img/backgrounds/section-3.png')
  background-size 100% 100%
  background-position center

.section_three-gradient__mask
  height 100%
  width 100%
  background linear-gradient(to right,
    rgba(19,102,168, 0.9),
    rgba(19,102,168, 0.6),
    rgba(255,255,255,0))

.section_three-container
  display flex
  align-items center
  justify-content center
  height 100%
  width 100%

.section_three-content__container
  width 90%
  
.section_three-content
  max-width 530px
  color #fff
  font-size remify(35px)
  line-height 1.26
  margin 0
  .content-enlarge
    font-size 45px
  .content-blue
    font-weight $thin
    color $rerblue-three

/*------------------------------------
  fourth section
------------------------------------*/
.section_four
  padding-top 132px
  background-image url('../img/backgrounds/section-4_7.png')
  background-position center
  background-size cover
  padding-bottom 136px

.section_four-title
  margin-top 0
  text-align center
  margin-bottom 103px
  color $rerblue-four
  font-size remify(40px)

.section_four-content
  display flex
  flex-wrap wrap
  justify-content space-between
  max-width 844px
  center-block()

[class*='reason_']
  width 408px
  position relative
  height 383px
  background-size cover
  display flex
  flex-direction column
  justify-content flex-end
  align-items center
  margin-bottom 24px
  overflow hidden
  
.reason_
  &one
    background-image url('../img/reasons/reason-1.jpg')
    &:hover
      .reason-container
        transform translateY(0)
      .reason-blue_mask
        top 0
  
  &two
    background-image url('../img/reasons/reason-2.png')
    &:hover
      .reason-container
        transform translateY(0)
      .reason-blue_mask
        top 0
  
  &three
    background-image url('../img/reasons/reason-3.jpg')
    &:hover
      .reason-container
        transform translateY(0)
      .reason-blue_mask
        top 0
  
  &four
    background-image url('../img/reasons/reason-4.jpg')
    &:hover
      .reason-container
        transform translateY(0)
      .reason-blue_mask
        top 0

.reason-blue_mask
  background linear-gradient(to top,
    rgba(19,102,168, 1),
    rgba(19,102,168, 0.95),
    rgba(19,102,168, 0.4),
    rgba(19,102,168, 0.1),
    rgba(255,255,255,0))
  width 100%
  height 100%
  position absolute
  top 100%
  transition 250ms top ease

.reason-container
  width 90%
  transform translateY(71px)
  transition 300ms transform ease
  &:hover
    transform translateY(0)
  
.reason-title
  color #fff
  font-size remify(19px)
  line-height 29px
  text-transform uppercase
  letter-spacing 3px
  margin-bottom 16px

.reason-description
  color #fff
  line-height 1.36
  letter-spacing .1px
  font-size remify(14px)
  width 300px

/*------------------------------------
  fifth section
------------------------------------*/
.section_five
  background-image url('../img/backgrounds/section-5.png')
  height 927px
  background-size cover
  background-position center
  padding-top 118px

.section_five-title
  color #fff
  font-size remify(40px)
  text-align center
  margin-top 0
  margin-bottom 90px
  letter-spacing 1px

.section_five-container
  display flex
  justify-content space-between
  max-width 1280px
  flex-wrap wrap
  center-block()

.sector
  height 480px
  width 295px
  display flex
  flex-direction column-reverse
  align-items flex-end
  background-color #fff
  position relative
  
  &:hover
    .hover-sector
      opacity 1

.hover-sector
  opacity 0
  position absolute
  width 100%
  height 100%
  background-color rgba(102,178,69,.9)
  display flex
  justify-content center
  align-items center
  flex-direction column-reverse
  transition 300ms opacity ease
  cursor pointer

  h3
    color #fff
    font-size 20px
    line-height 1.45
    letter-spacing 1.6px
    text-transform uppercase
    text-align center

  img
    width 70px

.sector-content  
  height 50%
  display flex
  flex-direction column
  justify-content space-between

.sector-content_container
  width 81%
  center-block()

.sector-name
  margin-top 0
  margin-bottom 12px
  color $rerblue-five
  font-size remify(20px)
  text-transform uppercase
  line-height 1.15
  letter-spacing 1.6px
  width 170px

.sector-description
  color $rerblue-four
  font-size remify(12px)
  line-height 1.42
  letter-spacing .1px
  margin 0

.sector-read_more
  height 51px
  text-align right 0px
  display flex
  justify-content flex-end
  align-items center
  background linear-gradient(to right,
    rgba(19,102,168, 1),
    rgba(19,102,168, 1),
    rgba(33,94,145,1),
    rgba(40,80,114,1))

  span
    text-transform uppercase
    margin-right 20px
    color #fff
    font-size remify(12px)
    line-height 2.42
    letter-spacing 1.9px
    z-index 2
    cursor pointer

  img
    margin-right 44px
    width 13px
    z-index 2
    cursor pointer

.sector-image
  img
    width 100%

/*------------------------------------
  sixth section
------------------------------------*/
.section_six
  background-color #FEFFFE
  padding-top 118px
  height 1217px
  text-align center

.section_six-title
  font-size remify(40px)
  color $rerblue-four
  margin-top 0
  margin-bottom 103px
  text-align center

.section_six-content
  max-width 1118px
  display flex
  flex-wrap wrap
  justify-content space-between
  center-block()
  margin-bottom 62px

[class*="project_"]
  width 362px
  height 334px
  background-size cover
  margin-bottom 20px
  display flex
  justify-content center
  align-items center
  position relative

.project_
  &1
    background-image url('../img/projects/project-1.png')
    &:hover
      .project-blue_mask
        opacity .67
  &2
    background-image url('../img/projects/project-2.png')
    &:hover
      .project-blue_mask
        opacity .67 
  &3
    background-image url('../img/projects/project-3.png')
    &:hover
      .project-blue_mask
        opacity .67
  &4
    background-image url('../img/projects/project-4.png')
    &:hover
      .project-blue_mask
        opacity .67
  &5
    background-image url('../img/projects/project-5.png')
    &:hover
      .project-blue_mask
        opacity .67
  &6
    background-image url('../img/projects/project-6.png')
    &:hover
      .project-blue_mask
        opacity .67

.project-blue_mask
  background-color #1366a8
  width 100%
  height 100%
  position absolute
  opacity 0
  transition 300ms opacity ease

.project-name
  color #fff
  letter-spacing 2.2px
  text-transform uppercase
  line-height 1.45
  font-size remify(20px)
  z-index 1

.section_six-button
  text-transform uppercase
  color #fff
  background-color #66b245
  padding 11px 35px
  line-height 2.23
  border 0
  font-size remify(13px)
  letter-spacing 2.1px
  cursor pointer

/*------------------------------------
  media queries
------------------------------------*/
@media only screen and (max-width 899px)
  .service:nth-child(even)
    margin-right 0
  
@media only screen and (min-width 900px)
  .service:nth-child(3), .service:nth-child(6)
    margin-right 0
