.section-one
  //background-image url('../img/backgrounds/section-1b.png')
  background-image url('../img/backgrounds/section-1.jpg')
  height 100vh
  display flex
  justify-content center
  align-items center
  
.section_one-container
  width 600px
  text-align center
  
.section-one_title
  font-size remify(45px)
  color #fff
  font-weight $thin
  line-height 1.33
  
  h1&
    margin 0

.section-one_content
  color #fff
  font-size remify(18px)
  width 500px
  line-height 1.28
  center-block()
  margin-top 35px
  
.rer-button
  text-transform uppercase
  color #fff
  background-color $rerblue-two
  padding 11px 35px
  line-height 2.23
  border 0
  font-size remify(13px)
  letter-spacing 2.1px
  margin-top 40px
    