.open-project-container
  margin-top 94px
  position relative
  margin-bottom 108px

.open-project-square
  background-color #f2f2f2
  height 490px
  left 0px
  position absolute
  right 0px
  top 0px

.open-project-content
  position relative

.open-project-flagasa
  &-1
    background url('../img/projects/open-projects/flagasa/flagasa.jpeg')

.open-project-eva-green
  &-1
    background url('../img/projects/open-projects/eva-green/eva-green.jpeg')

.open-project-one
  &-1
    background url('../img/projects/open-projects/a-and-a/a-and-a-1.jpg')
    
.open-project-two
  &-1
    background url('../img/projects/open-projects/metales-heyco/metales-heyco-1.jpg')
    
.open-project-three
  &-1
    background url('../img/projects/open-projects/mexlam/mexlam-1.jpg')
    
  &-2
    background url('../img/projects/open-projects/mexlam/mexlam-2.jpg')
    
  &-3
    background url('../img/projects/open-projects/mexlam/mexlam-3.jpg')
    
  &-4
    background url('../img/projects/open-projects/mexlam/mexlam-4.jpg')
    
.open-project-four
  &-1
    background url('../img/projects/open-projects/walworth/walworth-1.jpg')
    
  &-2
    background url('../img/projects/open-projects/walworth/walworth-2.jpg')
    
.open-project-five
  &-1
    background url('../img/projects/open-projects/aceros-turia/aceros-turia-1.jpg')
    
  &-2
    background url('../img/projects/open-projects/aceros-turia/aceros-turia-2.jpg')
    
.open-project-six
  &-1
    background url('../img/projects/open-projects/american-power/american-power-1.jpg')
    
.open-project-seven
  &-1
    background url('../img/projects/open-projects/conceptos/conceptos-1.jpg')
    
  &-2
    background url('../img/projects/open-projects/conceptos/conceptos-2.jpg')
    
  &-3
    background url('../img/projects/open-projects/conceptos/conceptos-3.jpg')
    
  &-4
    background url('../img/projects/open-projects/conceptos/conceptos-4.jpg')
    
.open-project-eight
  &-1
    background url('../img/projects/open-projects/rancho-mezquite/rancho-mezquite-1.jpg')
    
.open-project-nine
  &-1
    background url('../img/projects/open-projects/planta-agua/planta-agua-1.jpg')
    
  &-2
    background url('../img/projects/open-projects/planta-agua/planta-agua-2.jpg')
    
  &-3
    background url('../img/projects/open-projects/planta-agua/planta-agua-3.jpg')
    
  &-4
    background url('../img/projects/open-projects/planta-agua/planta-agua-4.jpg')
    
.open-project-ten
  &-1
    background url('../img/projects/open-projects/bodega/bodega-1.jpg')
    
.open-project-eleven
  &-1
    background url('../img/projects/open-projects/agp-plasticos/agp-plasticos-1.jpg')
    
  &-2
    background url('../img/projects/open-projects/agp-plasticos/agp-plasticos-2.jpg')
    
  &-3
    background url('../img/projects/open-projects/agp-plasticos/agp-plasticos-3.jpg')
    
  &-4
    background url('../img/projects/open-projects/agp-plasticos/agp-plasticos-4.jpg')
    
  &-5
    background url('../img/projects/open-projects/agp-plasticos/agp-plasticos-5.jpg')
    
.open-project-twelve
  &-1
    background url('../img/projects/open-projects/boskovs/boskovs-1.jpg')
    
  &-2
    background url('../img/projects/open-projects/boskovs/boskovs-2.jpg')
    
  &-3
    background url('../img/projects/open-projects/boskovs/boskovs-3.jpg')
    
  &-4
    background url('../img/projects/open-projects/boskovs/boskovs-4.jpg')

.open-project-image-container
  background-position center
  background-repeat no-repeat
  background-size cover
  height 661px
  width 85%
  position relative

.open-project-info
  background-color rgba(0, 104, 179, .83)
  bottom 0px
  left 44px
  opacity 1
  padding 62px 54px 62px 70px
  position absolute
  width 312px

.open-project-title
  color #fff
  font-size remify(23px)
  letter-spacing 1.4px
  line-height 32px
  margin 0px
  text-transform uppercase

.open-project-separator
  background-color #fff
  height 1px
  margin 18px 0px 12px 0px
  width 81px

.open-project-description
  color #fff
  font-size remify(15px)
  line-height 23px
  margin 0px
  
.margin-bottom-15px
  margin-bottom 15px

.open-project-ul
  padding 0px 0px 0px 11px
  margin 0px

.open-project-list
  color #fff
  font-size remify(12px)
  line-height 25px
  
.open-project-carousel-arrows
  align-items center
  background-color #0068b3
  border-radius 50px
  cursor pointer
  display flex
  height 56px
  justify-content center
  position absolute
  width 56px

.arrow-width-17px
  width 17px
  
.only-project-arrow-left
  bottom -22px
  right 260px
  
.only-project-arrow-right
  bottom -22px
  right 330px
  z-index 1
  
.open-project-desktop
  display block
  
.open-project-mobile
  display none
  
.open-project-arrow-desktop
  display block
  
.open-project-arrow-mobile
  display none !important
  
.hide-part-text-projects-desktop
  display none
  
.hide-part-text-projects-mobile
  display block
  
@media screen and (max-width 780px)
  .open-project-container
    margin-top 56px
    
  .open-project-image-container
    height 288px
    width 100%
    z-index -1
    
  .open-project-info
    float right
    margin-top -68px
    padding 17px 53px 30px 40px
    position initial
    width 250px
    
  .open-project-title
    font-size remify(17px)
    line-height 19px
    margin-bottom 30px
    
  .open-project-desktop
    display none
    
  .open-project-mobile
    display block
    
  .open-project-arrow-desktop
    display none !important
    
  .open-project-arrow-mobile
    display block !important
    
  .open-project-description
    letter-spacing 1.4px
    line-height 17px
    
  .open-project-separator
    margin 14px 0px
    
  .open-project-ul
    padding-left 0px
    
  .open-project-list
    font-size remify(15px)
    letter-spacing 1.4px
    line-height 17px
    margin-bottom 7px
    
  .half-circle-project-
    &prev, &next
      top 80px
      position absolute
      width 30px
      
  .half-circle-project-prev
    left 0px
    z-index 1

  .half-circle-project-next
    right 0px
    
  .hide-text-walworth
    display block
    
  .hide-part-text-projects-desktop
    display block
    
  .hide-part-text-projects-mobile
    display none
