.open-project-container
  margin-top 94px
  position relative
  margin-bottom 108px

.open-project-square
  background-color #f2f2f2
  height 490px
  left 0px
  position absolute
  right 0px
  top 0px

.open-project-image-container
  background url('../img/utils/project-1.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  height 661px
  width 85%
  position relative

.open-project-info
  background-color rgba(0, 104, 179, .83)
  bottom 0px
  left 44px
  opacity 1
  padding 62px 70px
  position absolute
  width 312px

.open-project-title
  color #fff
  font-size remify(23px)
  letter-spacing 1.4px
  line-height 32px
  margin 0px
  text-transform uppercase

.open-project-separator
  background-color #fff
  height 1px
  margin 18px 0px 12px 0px
  width 81px

.open-project-description
  color #fff
  font-size remify(15px)
  line-height 23px
  margin 0px
  
.margin-bottom-15px
  margin-bottom 15px

.open-project-ul
  padding 0px 0px 0px 11px
  margin 0px

.open-project-list
  color #fff
  font-size remify(12px)
  line-height 25px
