.plan-services-container
  position relative
  margin-bottom 126px
  
.title-absolute
  display flex
  justify-content center
  position absolute
  top 200px
  width 100%
    
.plans-services-content
  background-color #f2f2f2
  padding-top 200px
  width 73%
  
.title-plans-services
  color #132c3e
  font-family 'Roboto-Regular'
  font-size remify(40px)
  font-weight $regular
  margin 0px
  
.title-bold
  font-family 'Roboto-Bold'
  
.description-container
  position relative
  
.description-plans-services
  color #132c3e
  font-family 'OpenSans'
  font-size remify(17px)
  padding 150px 275px 99px 112px
  
.description-bold
  font-family 'OpenSans-Bold'

.img-plans-absolute
  position absolute
  top 370px
  right 0px

.img-plans
  height 586px
  width 578px

.plans-services-target
  background-color #0068b3
  bottom -270px
  left 112px
  padding 67px 69px
  position absolute
  width 626px
  z-index 1
  
.target-line-white
  background-color #fff
  height 1px
  left 0px
  position absolute
  top 92px
  width 47px
  
.target-line-blue
  background-color #0068b3
  bottom -38px
  height 1px
  position absolute
  width 113px
  
  
.description-target
  color #fff
  font-family 'OpenSans'
  font-size remify(17px)
  font-weight $regular

.description-target-bold
  font-family 'OpenSans-Bold'
  
.solar-services-content
  align-items center
  display flex
  flex-direction column
  margin-top 392px
  
.solar-description
  color #132c3e
  font-family 'OpenSans'
  font-size remify(17px)
  font-weight $regular
  margin 30px 0px 74px 0px
  
.solar-description-bold
  font-family 'OpenSans-Bold'
  
.solar-images-group
  display flex  
  flex-wrap wrap
  width 79%
  
.solar-image-content
  align-items center
  display flex
  flex-direction column
  margin-bottom 30px
  width 207px
  
.solar-image
  height 174px
  width 182px
  
.solar-image-description
  color #656565
  font-family 'OpenSans-Bold'
  font-size remify(14px)
  font-weight $regular
  height 63px
  line-height 21px
  margin 0px
  text-align center
  text-transform uppercase
  
.margin-top-75px
  margin-top 75px
  
.solar-arrow-image
  height 10px
  width 7px
  
.plans-services-separator
  background-color #e4e4e4
  height 1px
  margin 116px 0px 76px 0px
  width 70%
  
.adoption-solar-container
  display flex
  justify-content center
  width 100%
  
.adoption-solar
  color #142e40
  font-family 'OpenSans'
  font-size remify(28px)
  font-weight $regular
  line-height 35px
  margin 0px 0px 43px 0px
  text-align center
  width 52%
  
.adoption-square
  background-color #f2f2f2
  height 311px
  position relative
  width 477px
  
.adoption-info-row
  display flex
  flex-direction row
  left 109px
  position absolute
  top 75px
  
.adoption-table
  background url('../../img/backgrounds/adoption-table.png')
  background-size cover
  background-position center
  height 476px
  padding 86px 74px
  width 650px
  
.table-header
  display flex
  flex-direction row
  justify-content flex-end
  
.adoption-header
  align-items center
  display flex
  background-color #0068b3
  height 53.6px
  justify-content center
  width 108px
  
.margin-vertical-7px
  margin 0px 7px
  
.header-text
  color #fff
  font-family 'OpenSans-Bold'
  font-size remify(13px)
  font-weight $regular
  line-height 17px
  text-transform uppercase
  
.table-cell-separator
  background-color #fff
  height 1px
  margin 13px 0px
  width 100%
  
.table-row
  display flex
  flex-direction row
  
.table-row-description
  display flex
  flex 1
  
.text-row
  color #1c8bdb
  font-family 'OpenSans-Bold'
  font-size remify(13px)
  font-weight $regular
  line-height 19px
  margin 0px
  text-transform uppercase
  
.icon-success-cell
  align-items center
  display flex
  justify-content center
  width 108px
  
.icon-success
  height 22.3px
  width 22.3px
  
.panel-content
  padding-top 35px
  width 400px
  
.panel-title-section
  display flex
  flex-direction row
  align-items center
  
.title-panel-indicator
  background-color #0068b3
  height 1px
  margin-right 15px
  width 31px

.title-panel
  color #0068b3
  font-family 'OpenSans-Bold'
  font-size remify(20px)
  font-weight $regular
  margin 0px
  text-transform  uppercase
  
.description-panel
  color #132b3b
  font-family 'OpenSans'
  font-size remify(17px)
  font-weight $regular
  line-height 24px
  margin-left 46px
  
.save-money-ppa
  margin-top 430px
  position relative
  
.graphic-content
  background-color #f2f2f2
  height 546px
  padding 121px 0px 0px 159px
  width 965px
  
.graphic-title
  color #142e40
  font-family 'OpenSans'
  font-size remify(28px)
  font-weight $regular 
  line-height 35px
  margin 0px
  
.graphic-title-underline
  background-color #0068b3
  height 3px
  margin-top 10px
  width 40px
  
.graphic-title-bold
  font-family 'OpenSans-Bold'
  font-weight $regular
  
.graphic-triangle-info
  display flex
  flex-direction row
  
.graphic-triangle-numbers
  display flex
  flex-direction column
  
.graphic-triangle
  position relative
  width 567px
  
.triangle-base
  border-bottom 189px solid #142e40
  border-left 567px solid transparent
  height 0
  width 0
  
.triangle-layer
  border-bottom 67px solid #0068b3
  border-left 567px solid transparent
  bottom 0px
  height 0
  position absolute
  right 0px
  width 0
  
.graphic-number-content
  display flex
  flex-direction row
  margin 21px 0px 0px 10px
  
.graphic-number
  color #142e40
  font-family 'OpenSans'
  font-size remify(10px)
  margin 0px 6px
  
.graphic-info-content
  display flex
  flex-direction column
  padding-top 15px
  
.graphic-info
  align-items center
  display flex
  flex-direction row
  
.margin-top-34px
  margin-bottom 34px
  
.graphic-line-info
  background-color #0068b3
  height 63px
  margin 0px 15px 0px 26px
  width 1px
  
.graphic-description
  color #142e40
  font-family 'Roboto-Regular'
  font-size remify(12px)
  font-weight $regular
  line-height 17px
  margin 0px
  text-transform uppercase
  
.graphic-description-bold
  font-family 'Roboto-Bold'