.projects-container
  padding 200px 0px 190px 0px

.projects-text-content
  align-items center
  display flex
  flex-direction column

.projects-title
  color #132c3e
  font-size remify(35px)
  margin 0px

.projects-description
  color #132c3e
  font-size remify(15px)
  line-height 25px
  margin 36px 0px 109px 0px
  text-align center
  width 60%

.project-image-container
  display flex
  flex-wrap wrap
  justify-content space-between

.project
  &-1
    background url('../img/utils/project-1.jpg')

  &-2
    background url('../img/utils/project-2.jpg')

  &-3
    background url('../img/utils/project-3.jpg')

  &-4
    background url('../img/utils/project-4.jpg')

  &-5
    background url('../img/utils/project-2.jpg')

  &-6
    background url('../img/utils/project-1.jpg')

  &-7
    background url('../img/utils/project-4.jpg')

  &-8
    background url('../img/utils/project-3.jpg')

.project-image-content
  background-position center
  background-repeat no-repeat
  background-size cover
  border-bottom solid 4px #fff
  position relative
  height 353px
  width 50% !important
  
.project-image-content
  &:nth-child(odd)
    border-right solid 4px #fff
    
  &:nth-child(even)
    border-left solid 4px #fff

  &:hover
    .project-hover
      opacity 1

/*Section slick*/
  .slick-slide
    outline 0px
/*Section slick end*/

.project-hover
  align-items center
  background-color rgba(59, 122, 173, .83)
  bottom 0px
  cursor pointer
  display flex
  flex-direction column
  justify-content center
  left 0px
  opacity 0
  position absolute
  right 0px
  transition 300ms opacity ease
  top 0px

.project-hover-title
  color #fff
  font-size remify(23px)
  margin 0px
  text-transform uppercase
  
.project-hover-separator-mobile
  display none

.project-hover-description
  color #fff
  font-size remify(19px)
  margin 11px 0px 0px 0px

.project-image
  height auto
  width 100%
  
.carousel-arrows
  align-items center
  background-color #0068b3
  border-radius 50px
  cursor pointer
  display flex
  height 50px
  justify-content center
  position absolute
  width 50px
  
.rer-arrow-left
  bottom -115px
  left 71px
  margin 0 auto
  right 0
  
.rer-arrow-right
  bottom -115px
  left 0
  margin 0 auto
  right 61px
  
.arrow-width-14px
  height 14px
  width 14px
  
.description-desktop
  display block
  
.description-mobile
  display none
  
@media screen and (max-width 780px)
  .projects-container
    padding 110px 0px 90px 0px
    
  .projects-title
    font-size remify(24px)
    
  .projects-description
    font-size remify(14px)
    margin 20px 0px 60px 0px
    
  .project-image-content
    border-bottom 5px
    height 146px
    
  .project-image-content
    &:nth-child(odd)
      border-right solid 2px #fff
      
    &:nth-child(even)
      border-left solid 2px #fff
    
  .project-hover
    opacity 1
    
  .project-hover-title
    font-size remify(12px)
    letter-spacing 3px
    line-height 15px
    text-align center
    
  .project-hover-separator-mobile
    background-color #fff
    display block
    height 1px
    margin 7px 0px
    width 15px
    
  .description-desktop
    display none
    
  .description-mobile
    display block
    
  .project-hover-description
    font-size remify(11px)
    line-height 12px
    text-align center
    margin 0px
    
  .carousel-arrows
    align-items center
    background-color #0068b3
    border-radius 50px
    cursor pointer
    display flex
    height 35px
    justify-content center
    position absolute
    width 35px
    
  .rer-arrow-left
    bottom -60px
    left 56px
    margin 0 auto
    right 0
    
  .rer-arrow-right
    bottom -60px
    left 0
    margin 0 auto
    right 46px
