.solar-benefits-container
  position relative
  
.solar-benefits
  background url('../img/backgrounds/solar-benefits-1.png')
  background-size cover
  background-position center
  display flex
  flex-direction column
  height 676px
  justify-content center
  padding-left 220px
  width 100%
  
.solar-benefits-title
  color #fff
  font-size remify(35px)
  margin 0px
  
.solar-benefits-description
  color #fff
  font-size remify(22px)
  line-height 28px
  margin 12px 0px 29px 0px
  
.solar-benefits-button
  background-color #66b245
  border none
  color #fff
  font-size remify(13px)
  height 44px
  margin 0px
  text-transform uppercase
  width 182px
  
.solar-benefits-why
  align-items center
  background url('../img/backgrounds/solar-benefits-2.png')
  background-size cover
  display flex
  flex-direction column
  height 1050px
  margin-top -110px
  padding-top 150px
  
.why-title
  color #132c3e
  font-size remify(35px)
  margin 0px
  
.why-descripcion
  color #132c3e
  font-size remify(19px)
  line-height 25px
  margin 46px 0px 77px 0px
  text-align center
  width 63%
  
.why-container
  display flex
  flex-direction row
  flex-wrap wrap
  
.why-content
  display flex
  flex-direction column
  margin 0px 25px
  
.why-image-container
  display flex
  justify-content center
  width 208px
  
.why-image
  height 185px
  width 185px
  
.why-content-description
  color #656565
  font-size remify(15px)
  line-height 21px
  margin 25px 0px 0px 0px
  text-align center
  
.solar-benefits-generate
  background url('../img/backgrounds/solar-benefits-3.jpg')
  background-size cover
  background-position center
  height 815px
  margin-top -234px
  padding-top 270px
  padding-left 107px
  position relative
  
.generate-title
  color #fff
  font-size remify(35px)
  margin 0px
  
.generate-title-underline
  background-color #15639b
  height 1px
  margin 28px 0px
  width 98px
  
.generate-description
  color #fff
  font-size remify(18px)
  line-height 25px
  margin 0px
  width 50%
  
.generate-image-container
  bottom 0px
  position absolute
  right 0px
  
.generate-image
  height 845px
  width 463px
  
.solar-benefits-how
  display flex
  flex-direction row
  
.panel-gray
  background-color #F9F9F9
  height 1000px
  position relative
  width 720px
  
.panel-image-container
  left 0px
  position absolute
  top 261px
  
.panel-image
  height 484px
  width 591px
  
.how-container
  display flex
  flex-direction row
  justify-content center
  padding-top 124px
  width 100%
  
.how-content
  width 48%
  
.how-title
  color #132c3e
  font-size remify(35px)
  margin 0px 0px 41px 0px
  
.how-info-title
  color #0068b3
  font-size remify(20px)
  margin 0px
  text-transform uppercase
  
.how-info-description
  color #132c3e
  font-size remify(15px)
  margin 10px 0px 40px 0px
