{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="about-container">
    <div class="about-content">
      <div class="about-vertical-line">
        <div class="heavy-vertical-line"></div>
      </div>
      <div>
        <h1 class="about-title rer-font-roboto-regular"><span class="rer-font-roboto-bold">¿Quiénes</span> somos?</h1>
        <p class="about-description rer-font-opensans">
          Somos una empresa <span class="rer-font-opensans-bold">fundada en 1950</span> dedicada al desarrollo y financiamiento para el aprovechamiento de <span class="rer-font-opensans-bold">energías renovables</span> en Estados Unidos, México y Centroamérica. Somos líderes regionales en sistemas de energía solar. Nuestra misión es <span class="rer-font-opensans-bold">fomentar la cultura del uso y aprovechamiento de fuentes de energía renovables  y el ahorro en el pago de energía eléctrica</span>, así como el aprovechamiento de los instrumentos Y APOYOS gubernamentales disponibles.
        </p>
        <a class="about-team-anchor" href="#about-team">
          <button class="about-team-button rer-font-opensans">Nuestro equipo</button>
        </a>
      </div>
    </div>
    <div class="about-rer-content">
      <div class="about-rer-content-img-modifier">
        <img class="about-rer-img" src="img/utils/about-us.jpg">
      </div>
      <div class="about-rer-panel">
        <div class="about-horizontal-line">
          <div class="heavy-horizontal-line"></div>
        </div>
        <h1 class="about-title padding-left-40px-mobile rer-font-roboto-regular"><span class="about-rer-title rer-font-roboto-bold">Rer</span> Energy Group</h1>
        <div class="about-rer-container">
          <p class="about-rer-description rer-font-opensans">
            La industria energética tiene gran dinamismo debido al ritmo tan rápido de la innovación tecnológica y a los cambiantes incentivos financieros ofrecidos por el gobierno. En términos generales, primero identificamos cómo reducir el consumo de energía. Como segundo paso, buscamos reemplazar la compra de energía con sistemas de energía solar. Para finalizar, brindamos asesoría en seleccionar la opción más costo-eficiente del faltante de energía, aprovechando el nuevo mercado eléctrico mexicano. Aplicamos esta filosofía tridimensional para todos nuestros proyectos.
          </p>
        </div>
        <div class="rer-group-scrollbar">
          <p class="about-rer-description margin-top-0px-mobile rer-font-opensans">
            La industria energética tiene gran dinamismo debido al ritmo tan rápido de la innovación tecnológica y a los cambiantes incentivos financieros ofrecidos por el gobierno. En términos generales, primero identificamos cómo reducir el consumo de energía. Como segundo paso, buscamos reemplazar la compra de energía con sistemas de energía solar. Para finalizar, brindamos asesoría en seleccionar la opción más costo-eficiente del faltante de energía, aprovechando el nuevo mercado eléctrico mexicano. Aplicamos esta filosofía tridimensional para todos nuestros proyectos.
          </p>
        </div>
        <div class="about-rer-content-img">
          <img class="about-rer-img" src="img/utils/about-us.jpg">
        </div>
        <div class="about-rer-history">
          <div class="about-img-container">
            <img class="about-img" src="img/utils/about-us.jpg">
          </div>
          <div class="rer-history-mask"></div>
          <p class="rer-history rer-font-opensans">
            El grupo dio inicio en Estados Unidos, en la década de <span class="rer-font-opensans-bold">1950</span>, como una empresa de servicios eléctricos. Debido a las crecientes oportunidades, en 2008 comenzamos la rama de <span class="rer-font-opensans-bold">desarrollos solares</span>. Desde el 2009, hemos proporcionado una excelente combinación entre <span class="rer-font-opensans-bold">desarrollo de negocios, asesoría, diseño, contrataciones, servicios de instalaciones y gestión de proyectos</span> para un diverso grupo de clientes a lo largo de México y Centro América. Con base en proyectos costo-eficientes y la más alta calidad, hoy en día hemos logrado la obtención de <span class="rer-font-opensans-bold">más de $100 millones de dólares en fondos para nuestros clientes</span>. Además, contamos con el soporte de nuestros grupos de inversionistas que cuentan con experiencia de más de 40 años a nivel mundial.
          </p>
        </div>
      </div>
    </div>
    <a id="about-team"></a>
    <div class="about-team-container">
      <div class="team-title-content">
        <h1 class="about-title rer-font-roboto-regular"><span class="rer-font-roboto-bold">Nuestro</span> equipo</h1>
        <div class="about-team-underline"></div>
        <p class="about-team-description rer-font-opensans">
          <span class="rer-font-opensans-bold">RER</span> tiene la fortuna de contar con líderes expertos de la industria solar que garantizan el diseño, financiamiento y ejecución de los proyectos tanto en Estados Unidos como en América Latina. Te invitamos a que conozcas mejor a nuestro <span class="rer-font-opensans-bold">equipo directivo.</span>
        </p>
      </div>
      <div class="team-member-content">
        <div class="team-member-8 team-member-img">
          <div class="team-member-mask">
            <h1 class="team-member-name rer-font-opensans">Mike Barnes</h1>
            <h2 class="team-member-job rer-font-opensans-bold">Director de operaciones</h2>
            <div>
              <div class="team-member-separator"></div>
            </div>
            <p class="team-member-description rer-font-opensans">
              Mike ha colaborado en las operaciones de RER desde el 2014. Cuenta con una dirección operativa sólida y un estilo de liderazgo estratégico basado en años de experiencia en desarrollo y administración de proyectos solares.
            </p>
          </div>
        </div>
        <div class="team-member-6 team-member-img">
          <div class="team-member-mask">
            <h1 class="team-member-name rer-font-opensans">Bruno Ortiz</h1>
            <h2 class="team-member-job rer-font-opensans-bold">Director de Operaciones México</h2>
            <div>
              <div class="team-member-separator"></div>
            </div>
            <p class="team-member-description rer-font-opensans">
              Cuenta con experiencia en empresas como AT&T y Grupo Presidente. Desarrolló su carrera principalmente en Planeación Estratégica Organizacional donde ha tenido relación con las diferentes áreas de la empresa, haciendo procesos más eficientes e innovadores, definiendo estructuras más horizontales.
            </p>
          </div>
        </div>
        <div class="team-member-1 team-member-img">
          <div class="team-member-mask">
            <h1 class="team-member-name rer-font-opensans">Carla Ortiz Fuentes</h1>
            <h2 class="team-member-job rer-font-opensans-bold">Directora de Desarrollo de Negocios</h2>
            <h2 class="team-member-email rer-font-opensans">cortiz@rerenergygroup.com</h2>
            <div>
              <div class="team-member-separator"></div>
            </div>
            <p class="team-member-description rer-font-opensans">
              Carla cuenta con una trayectoria en desarrollo de negocios y finanzas que la han convertido en un miembro clave del equipo de RER. Actualmente Carla trabaja en el desarrollo del mercado mexicano.
            </p>
          </div>
        </div>
        <div class="team-member-3 team-member-img">
          <div class="team-member-mask">
            <h1 class="team-member-name rer-font-opensans">Christopher Flynn</h1>
            <h2 class="team-member-job rer-font-opensans-bold">VP. Estrategia</h2>
            <div>
              <div class="team-member-separator"></div>
            </div>
            <p class="team-member-description rer-font-opensans">
              Chris ha trabajado en el mercado de energía sostenible desde el año 2009. Actualmente, además de participar activamente en mercados solares, colabora como profesor adjunto de Política de Energía y Sustentabilidad en la Universidad de Penn State.
            </p>
          </div>
        </div>
        <div class="team-member-7 team-member-img">
          <div class="team-member-mask">
            <h1 class="team-member-name rer-font-opensans">Jim Kurtz</h1>
            <h2 class="team-member-job rer-font-opensans-bold">Presidente y Fundador</h2>
            <div>
              <div class="team-member-separator"></div>
            </div>
            <p class="team-member-description rer-font-opensans">
              La carrera directiva de Jim se ha enfocado en desarrollo de negocios tanto para empresas multinacionales como empresas emergentes. Cuenta con vasta experiencia financiera ha logrado integrar nuevos modelos de negocio al mercado solar.
            </p>
          </div>
        </div>
        <div class="team-member-4 team-member-img">
          <div class="team-member-mask">
            <h1 class="team-member-name rer-font-opensans">Loretta Ottinger</h1>
            <h2 class="team-member-job rer-font-opensans-bold">Directora General</h2>
            <div>
              <div class="team-member-separator"></div>
            </div>
            <p class="team-member-description rer-font-opensans">
              La vasta experiencia de Loretta en empresas de manufactura, su trayectoria de crecimiento de ventas en varias industrias, su enfoque en éxito de trabajo en equipo y su pasión por resolver los enigmas de la industria hacen de Loretta un miembro fundamental de RER.
            </p>
          </div>
        </div>
        <div class="team-member-5 team-member-img">
          <div class="team-member-mask">
            <h1 class="team-member-name rer-font-opensans">Lilia Ortiz Gómez</h1>
            <h2 class="team-member-job rer-font-opensans-bold">Estrategia de Proyectos y Ventas</h2>
            <div>
              <div class="team-member-separator"></div>
            </div>
            <p class="team-member-description rer-font-opensans">
              Lila se une al equipo RER para propulsar la promoción en el mercado mexicano, con un sólido entendimiento del mercado local y una trayectoria en crecimiento de ventas y administración.
            </p>
          </div>
        </div>
        <div class="team-member-2 team-member-img">
          <div class="team-member-mask">
            <h1 class="team-member-name rer-font-opensans">Stephanie Brun de Pontet, Ph.D.</h1>
            <h2 class="team-member-job rer-font-opensans-bold">VP. Desarrollo Organizacional</h2>
            <div>
              <div class="team-member-separator"></div>
            </div>
            <p class="team-member-description rer-font-opensans">
              Stephanie se unió al equipo de RER en el 2014, inicialmente como Consejera del grupo de directivos. Con el crecimiento significativo de la empresa, Stephanie ha migrado a dirigir la planeación estratégica y el crecimiento organizacional de RER.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-partners-container">
      <div class="about-partners-panel"></div>
      <div class="about-partners-content">
        <div class="margin-right-70px">
          <img class="about-partners-img" src="img/utils/about-2-replace.png">
        </div>
        <div class="about-partner-mobile">
          <div>
            <h1 class="about-title rer-font-roboto-bold">Socios</h1>
            <div class="about-team-underline"></div>
          </div>
          <p class="about-partners-description rer-font-opensans">
            La estrategia de <span class="rer-font-opensans-bold">RER Energy Group</span> consiste en construir sólidas alianzas estratégicas con socios locales e internacionales para proporcionarles a nuestros clientes los mejores resultados. Cada socio aporta sus conocimientos especializados permitiendo a RER garantizar <span class="rer-font-opensans-bold">un servicio de calidad</span>, en todo momento, a nivel nacional. Además, ofrecemos los más altos estándares de calidad a través de nuestro <span class="rer-font-opensans-bold">“Quality Assurance Plan”</span>, que cumple con las estrictas normas y certificaciones norteamericanas.  Únicamente trabajamos con tecnologías probadas y confiables de las mejores marcas en el mercado clasificadas como <span class="rer-font-opensans-bold">“Tier One”</span>.
          </p>
        </div>
      </div>
    </div>
    <div class="about-partners-mobile">
      <div class="about-partners-panel"></div>
      <div class="partners-img-container margin-right-70px">
        <img class="about-partners-img" src="img/utils/about-2-mobile.png">
      </div>
      <div class="about-partners-content">
        <div>
          <div>
            <h1 class="about-title rer-font-roboto-bold">Socios</h1>
            <div class="about-team-underline"></div>
          </div>
          <div class="rer-group-scrollbar margin-scrollbar">
            <p class="about-partners-description margin-top-0px-mobile rer-font-opensans">
            La estrategia de <span class="rer-font-opensans-bold">RER Energy Group</span> consiste en construir sólidas alianzas estratégicas con socios locales e internacionales para proporcionarles a nuestros clientes los mejores resultados. Cada socio aporta sus conocimientos especializados permitiendo a RER garantizar <span class="rer-font-opensans-bold">un servicio de calidad</span>, en todo momento, a nivel nacional. Además, ofrecemos los más altos estándares de calidad a través de nuestro <span class="rer-font-opensans-bold">“Quality Assurance Plan”</span>, que cumple con las estrictas normas y certificaciones norteamericanas.  Únicamente trabajamos con tecnologías probadas y confiables de las mejores marcas en el mercado clasificadas como <span class="rer-font-opensans-bold">“Tier One”.</span>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}