{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="section-one cover">
    <div class="section_one-container">
      <h1 class="section-one_title rer-font-roboto-regular">Empresa <span class="rer-font-roboto-bold">líder en desarrollo y financiamiento</span> solar</h1>
      <p class="section-one_content rer-font-opensans-light">Déjanos tus datos para saber si tu empresa <span class="rer-font-opensans-bold">es candidato</span> para alguno de nuestros servicios</p>
      <button class="rer-button rer-font-opensans-light">Contacto</button>
    </div>
  </div>
  <div class="relative-container">
    <div class="section_two">
      <h2 class="section_two-title rer-font-roboto-light">Planes y <span class="rer-font-roboto-regular">servicios</span></h2>
      <div class="section_two-content">
        <div class="service">
          <h3 class="service-title rer-font-opensans-light">Consultoría energética</h3>
          <img src="img/services/service-1.png" alt="" class="service-image">
        </div>
        <div class="service">
          <h3 class="service-title rer-font-opensans-light">Diseño e ingeniería</h3>
          <img src="img/services/service-2.png" alt="" class="service-image">
        </div>
        <div class="service">
          <h3 class="service-title rer-font-opensans-light">Permisos y licencias</h3>
          <img src="img/services/service-3.png" alt="" class="service-image">
        </div>
        <div class="service">
          <h3 class="service-title rer-font-opensans-light">Desarrollo y proveeduría</h3>
          <img src="img/services/service-4.png" alt="" class="service-image">
        </div>
        <div class="service">
          <h3 class="service-title rer-font-opensans-light">Construcción</h3>
          <img src="img/services/service-5.png" alt="" class="service-image">
        </div>
        <div class="service">
          <h3 class="service-title rer-font-opensans-light">Consultoría energética</h3>
          <img src="img/services/service-6.png" alt="" class="service-image">
        </div>
      </div>
    </div>
    <div class="section_three">
      <div class="section_three-gradient__mask">
        <div class="section_three-container">
          <div class="section_three-content__container">
            <p class="section_three-content rer-font-opensans-semibold">Ahorra hasta un <span class="content-enlarge">95%</span> de tus <span class="content-blue rer-font-opensans-bold">costos de energía</span> y genera ingresos adicionales.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section_four">
      <h2 class="section_four-title rer-font-roboto-light">¿Por qué <span class="rer-font-roboto-bold">RER</span>?</h2>
      <div class="section_four-content">
        <div class="reason_one">
          <div class="reason-blue_mask"></div>
          <div class="reason-container">
            <h3 class="reason-title rer-font-opensans-semibold">Tenemos las mejores garantías del mercado</h3>
            <p class="reason-description rer-font-opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orem ipsum dolor sit amet, consectetur adipiscing el amrei.</p>
          </div>
        </div>
        <div class="reason_two">
          <div class="reason-blue_mask"></div>
          <div class="reason-container">
            <h3 class="reason-title rer-font-opensans-semibold">Más de 50 años en el mercado</h3>
            <p class="reason-description rer-font-opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orem ipsum dolor sit amet, consectetur adipiscing el amrei.</p>
          </div>
        </div>
        <div class="reason_three">
          <div class="reason-blue_mask"></div>
          <div class="reason-container">
            <h3 class="reason-title rer-font-opensans-semibold">Líderes en desarrollo solar</h3>
            <p class="reason-description rer-font-opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orem ipsum dolor sit amet, consectetur adipiscing el amrei.</p>
          </div>
        </div>
        <div class="reason_four">
          <div class="reason-blue_mask"></div>
          <div class="reason-container">
            <h3 class="reason-title rer-font-opensans-semibold">Ahorra y genera ingresos adicionales</h3>
            <p class="reason-description rer-font-opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orem ipsum dolor sit amet, consectetur adipiscing el amrei.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}