{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="section-one cover">
    <div class="section_one-container">
      <h1 class="section-one_title rer-font-roboto-regular">Empresa <span class="rer-font-roboto-bold">líder en desarrollo y financiamiento</span> solar</h1>
      <p class="section-one_content rer-font-opensans-light">Déjanos tus datos para saber si tu empresa <span class="rer-font-opensans-bold">es candidato</span> para alguno de nuestros servicios</p>
      <button class="rer-button rer-font-opensans-light">Contacto</button>
    </div>
  </div>
{% endblock %}