{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="open-project-container">
    <div class="open-project-square"></div>
    <div class="open-project-carousel">
      <div class="open-project-content">
        <div class="open-project-canadaigua-1 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Municipio Canadaigua</h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Proyecto Municipal desarrollado en dos terrenos vecinos para reducir significativamente los costos de energía del municipio.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 4.1 MW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: T REC Group 315W</li>
            <li class="open-project-list">Inversores: Chint Power Systems</li>
            <li class="open-project-list">Estructuras: Solar Flex Racking</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
