{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="open-project-container">
    <div class="open-project-square"></div>
    <div class="open-project-carousel">
      <div class="open-project-content">
        <div class="open-project-image-1 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Edificio<br>de <span class="rer-font-roboto-bold">oficinas</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Administrativas</p>
          <p class="open-project-description rer-font-opensans-bold margin-bottom-15px">Estado de México</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 11.17kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles Trina Solar</li>
            <li class="open-project-list">Inversores Fronius SMA</li>
            <li class="open-project-list">Estructura montada sobre azotea</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-image-2 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Edificio<br>de <span class="rer-font-roboto-bold">oficinas</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Administrativas</p>
          <p class="open-project-description rer-font-opensans-bold margin-bottom-15px">Estado de México</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 11.17kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles Trina Solar</li>
            <li class="open-project-list">Inversores Fronius SMA</li>
            <li class="open-project-list">Estructura montada sobre azotea</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-image-3 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Edificio<br>de <span class="rer-font-roboto-bold">oficinas</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Administrativas</p>
          <p class="open-project-description rer-font-opensans-bold margin-bottom-15px">Estado de México</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 11.17kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles Trina Solar</li>
            <li class="open-project-list">Inversores Fronius SMA</li>
            <li class="open-project-list">Estructura montada sobre azotea</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-image-4 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Edificio<br>de <span class="rer-font-roboto-bold">oficinas</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Administrativas</p>
          <p class="open-project-description rer-font-opensans-bold margin-bottom-15px">Estado de México</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 11.17kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles Trina Solar</li>
            <li class="open-project-list">Inversores Fronius SMA</li>
            <li class="open-project-list">Estructura montada sobre azotea</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-image-2 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Edificio<br>de <span class="rer-font-roboto-bold">oficinas</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Administrativas</p>
          <p class="open-project-description rer-font-opensans-bold margin-bottom-15px">Estado de México</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 11.17kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles Trina Solar</li>
            <li class="open-project-list">Inversores Fronius SMA</li>
            <li class="open-project-list">Estructura montada sobre azotea</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-image-1 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Edificio<br>de <span class="rer-font-roboto-bold">oficinas</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Administrativas</p>
          <p class="open-project-description rer-font-opensans-bold margin-bottom-15px">Estado de México</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 11.17kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles Trina Solar</li>
            <li class="open-project-list">Inversores Fronius SMA</li>
            <li class="open-project-list">Estructura montada sobre azotea</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-image-1 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Edificio<br>de <span class="rer-font-roboto-bold">oficinas</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Administrativas</p>
          <p class="open-project-description rer-font-opensans-bold margin-bottom-15px">Estado de México</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 11.17kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles Trina Solar</li>
            <li class="open-project-list">Inversores Fronius SMA</li>
            <li class="open-project-list">Estructura montada sobre azotea</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-image-1 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Edificio<br>de <span class="rer-font-roboto-bold">oficinas</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Administrativas</p>
          <p class="open-project-description rer-font-opensans-bold margin-bottom-15px">Estado de México</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 11.17kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles Trina Solar</li>
            <li class="open-project-list">Inversores Fronius SMA</li>
            <li class="open-project-list">Estructura montada sobre azotea</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}