{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="projects-container">
    <div class="projects-text-content">
      <h1 class="projects-title rer-font-roboto-regular">Nuestros <span class="rer-font-roboto-bold">proyectos</span></h1>
      <p class="projects-description rer-font-opensans">
        En RER estamos comprometidos a brindar excelencia y sobrepasar las expectativas de nuestros clientes. Tenemos el placer de presentarles algunos de nuestros casos de éxito.
      </p>
    </div>
    <div class="project-image-carousel">
      <div class="project-image-content project-1">
        <a href="project-1.html">
          <div class="project-hover">
            <h3 class="project-hover-title rer-font-opensans-bold">A&A Industries</h3>
          </div>
        </a>
      </div>
      <div class="project-image-content project-2">
        <a href="project-2.html">
          <div class="project-hover">
            <h3 class="project-hover-title rer-font-opensans-bold">Metales Heyco</h3>
          </div>
        </a>
      </div>
      <div class="project-image-content project-3">
        <a href="project-3.html">
          <div class="project-hover">
            <h3 class="project-hover-title rer-font-opensans-bold">Mexlam</h3>
          </div>
        </a>
      </div>
      <div class="project-image-content project-4">
        <a href="project-4.html">
          <div class="project-hover">
            <h3 class="project-hover-title rer-font-opensans-bold">Walworth</h3>
          </div>
        </a>
      </div>
      <div class="project-image-content project-5">
        <a href="project-5.html">
          <div class="project-hover">
            <h3 class="project-hover-title rer-font-opensans-bold">Aceros Turia</h3>
          </div>
        </a>
      </div>
      <div class="project-image-content project-6">
        <a href="project-6.html">
          <div class="project-hover">
            <h3 class="description-desktop project-hover-title rer-font-opensans-bold">American Power Net</h3>
            <h3 class="description-mobile project-hover-title rer-font-opensans-bold">American<br>Power Net</h3>
          </div>
        </a>
      </div>
      <div class="project-image-content project-7">
        <a href="project-7.html">
          <div class="project-hover">
            <h3 class="project-hover-title rer-font-opensans-bold">Conceptos</h3>
          </div>
        </a>
      </div>
      <div class="project-image-content project-8">
        <a href="project-8.html">
          <div class="project-hover">
            <h3 class="project-hover-title rer-font-opensans-bold">Rancho el Mezquite</h3>
          </div>
        </a>
      </div>
      <div class="project-image-content project-9">
        <a href="project-9.html">
          <div class="project-hover">
            <h3 class="description-desktop project-hover-title rer-font-opensans-bold">Planta tratadora de agua</h3>
            <h3 class="description-mobile project-hover-title rer-font-opensans-bold">Planta<br>tratadora<br>de agua</h3>
          </div>
        </a>
      </div>
      <div class="project-image-content project-10">
        <a href="project-10.html">
          <div class="project-hover">
            <h3 class="project-hover-title rer-font-opensans-bold">Bodega</h3>
          </div>
        </a>
      </div>
      <div class="project-image-content project-11">
        <a href="project-11.html">
          <div class="project-hover">
            <h3 class="project-hover-title rer-font-opensans-bold">AGP Plásticos</h3>
          </div>
        </a>
      </div>
      <div class="project-image-content project-12">
        <a href="project-12.html">
          <div class="project-hover">
            <h3 class="project-hover-title rer-font-opensans-bold">Boskov's</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}