{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="projects-container">
    <div class="projects-text-content">
      <h1 class="projects-title">Nuestros <span class="projects-title-bold">proyectos</span></h1>
      <p class="projects-description">
        Worem ipsum dolor sit amet, consectetur adipiscing elit. In viverra, elit id tincidunt convallis, elit massa eleifend augue, vel tempor orci ipsum in diam. Donec scelerisque pharetra neque, condimentum congue lorem hendrerit a. Vestibulum non tincidunt ligula. Nunc pharetra quis tellus nec interdum.
      </p>
    </div>
    <div class="project-image-container">
      <div class="project-image-content">
        <div class="project-hover">
          <h3 class="project-hover-title">Edificio de oficinas</h3>
          <p class="project-hover-description">Administrativas | <span class="project-hover-bold">Estado de México</span></p>
        </div>
        <img class="project-image" src="img/utils/project.png">
      </div>
      <div class="project-image-content">
        <div class="project-hover">
          <h3 class="project-hover-title">Mexlam</h3>
          <p class="project-hover-description">Empresa Acerera | <span class="project-hover-bold">Estado de México</span></p>
        </div>
        <img class="project-image" src="img/utils/project.png">
      </div>
      <div class="project-image-content">
        <div class="project-hover">
          <h3 class="project-hover-title">New age industries</h3>
          <p class="project-hover-description">Manufacturas y Fabricante de Tubos</p>
          <p class="project-hover-description">Plásticos | <span class="project-hover-bold">Estado de México</span></p>
        </div>
        <img class="project-image" src="img/utils/project.png">
      </div>
      <div class="project-image-content">
        <div class="project-hover">
          <h3 class="project-hover-title">Conceptos</h3>
          <p class="project-hover-description">Empresa de Trefilados | <span class="project-hover-bold">Estado de México</span></p>
        </div>
        <img class="project-image" src="img/utils/project.png">
      </div>
      <div class="project-image-content">
        <div class="project-hover">
          <h3 class="project-hover-title">Bodega almacenamiento</h3>
          <p class="project-hover-description">Usos diversos | <span class="project-hover-bold">Estado de México</span></p>
        </div>
        <img class="project-image" src="img/utils/project.png">
      </div>
      <div class="project-image-content">
        <div class="project-hover">
          <h3 class="project-hover-title">Edificio de oficinas</h3>
          <p class="project-hover-description">Administrativas | <span class="project-hover-bold">Estado de México</span></p>
        </div>
        <img class="project-image" src="img/utils/project.png">
      </div>
      <div class="project-image-content">
        <div class="project-hover">
          <h3 class="project-hover-title">Edificio de oficinas</h3>
          <p class="project-hover-description">Administrativas | <span class="project-hover-bold">Estado de México</span></p>
        </div>
        <img class="project-image" src="img/utils/project.png">
      </div>
      <div class="project-image-content">
        <div class="project-hover">
          <h3 class="project-hover-title">Edificio de oficinas</h3>
          <p class="project-hover-description">Administrativas | <span class="project-hover-bold">Estado de México</span></p>
        </div>
        <img class="project-image" src="img/utils/project.png">
      </div>
    </div>
  </div>
{% endblock %}