{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="open-project-container">
    <div class="open-project-square"></div>
    <div class="open-project-carousel">
      <div class="open-project-content">
        <div class="open-project-nine-1 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Planta <span class="rer-font-roboto-bold">Tratadora de Agua</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">RER Energy Group desarrolló un proyecto solar fotovoltaico muy significativo para el municipio de Middletown sin necesidad de que el municipio invirtiera recursos, lo que significa que no tuvo costo para los residentes de esa zona.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 830 KW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: 310 Watts</li>
            <li class="open-project-list">Inversores: Sunny Central</li>
            <li class="open-project-list">Estructuras: Schletter</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-nine-2 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Planta <span class="rer-font-roboto-bold">Tratadora de Agua</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">RER Energy Group desarrolló un proyecto solar fotovoltaico muy significativo para el municipio de Middletown sin necesidad de que el municipio invirtiera recursos, lo que significa que no tuvo costo para los residentes de esa zona.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 830 KW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: 310 Watts</li>
            <li class="open-project-list">Inversores: Sunny Central</li>
            <li class="open-project-list">Estructuras: Schletter</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-nine-3 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Planta <span class="rer-font-roboto-bold">Tratadora de Agua</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">RER Energy Group desarrolló un proyecto solar fotovoltaico muy significativo para el municipio de Middletown sin necesidad de que el municipio invirtiera recursos, lo que significa que no tuvo costo para los residentes de esa zona.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 830 KW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: 310 Watts</li>
            <li class="open-project-list">Inversores: Sunny Central</li>
            <li class="open-project-list">Estructuras: Schletter</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-nine-4 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Planta <span class="rer-font-roboto-bold">Tratadora de Agua</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">RER Energy Group desarrolló un proyecto solar fotovoltaico muy significativo para el municipio de Middletown sin necesidad de que el municipio invirtiera recursos, lo que significa que no tuvo costo para los residentes de esa zona.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 830 KW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: 310 Watts</li>
            <li class="open-project-list">Inversores: Sunny Central</li>
            <li class="open-project-list">Estructuras: Schletter</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
