{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="open-project-container">
    <div class="open-project-square"></div>
    <div class="open-project-carousel">
      <div class="open-project-content">
        <div class="open-project-twelve-1 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Boskov's</h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Tiendas Departamentales</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 478.4 kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles ReneSola</li>
            <li class="open-project-list">Inversores Advanced Energy</li>
            <li class="open-project-list">Estructura Schletter FIX-EZ</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-twelve-2 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Boskov's</h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Tiendas Departamentales</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 478.4 kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles ReneSola</li>
            <li class="open-project-list">Inversores Advanced Energy</li>
            <li class="open-project-list">Estructura Schletter FIX-EZ</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-twelve-3 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Boskov's</h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Tiendas Departamentales</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 478.4 kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles ReneSola</li>
            <li class="open-project-list">Inversores Advanced Energy</li>
            <li class="open-project-list">Estructura Schletter FIX-EZ</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-twelve-4 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Boskov's</h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Tiendas Departamentales</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 478.4 kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles ReneSola</li>
            <li class="open-project-list">Inversores Advanced Energy</li>
            <li class="open-project-list">Estructura Schletter FIX-EZ</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
