{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="open-project-container">
    <div class="open-project-square"></div>
    <div class="open-project-carousel">
      <div class="open-project-content">
        <div class="open-project-two-1 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Metales <span class="rer-font-roboto-bold">Heyco</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Metales Heyco es una empresa con uso intensivo de energía, el sistema solar fotovoltaico instalado les ayuda a ser más competitivos en su industria al eliminar una gran porción del costo de su recibo de luz cada mes.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 304.89 KW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: Yingli 230 Watts</li>
            <li class="open-project-list">Inversor: PV Powered</li>
            <li class="open-project-list">Estructuras: Sunlink de peso</li>
            <li class="open-project-list">Desarrollado en colaboración con Borrego Solar</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
