{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="projects-container">
    <div class="projects-text-content">
      <h1 class="projects-title rer-font-roboto-regular">Nuestros <span class="rer-font-roboto-bold">proyectos</span></h1>
      <p class="projects-description rer-font-opensans">
        Worem ipsum dolor sit amet, consectetur adipiscing elit. In viverra, elit id tincidunt convallis, elit massa eleifend augue, vel tempor orci ipsum in diam. Donec scelerisque pharetra neque, condimentum congue lorem hendrerit a. Vestibulum non tincidunt ligula. Nunc pharetra quis tellus nec interdum.
      </p>
    </div>
    <div class="project-image-carousel">
      <div class="project-image-content project-1">
        <a href="open-project.html">
          <div class="project-hover">
            <h3 class="description-desktop project-hover-title rer-font-opensans-bold">Edificio de oficinas</h3>
            <h3 class="description-mobile project-hover-title rer-font-opensans-bold">Edificio<br>de oficinas</h3>
            <div class="project-hover-separator-mobile"></div>
            <p class="description-desktop project-hover-description rer-font-opensans">Administrativas | <span class="project-hover-bold rer-font-opensans-bold">Estado de México</span></p>
            <p class="description-mobile project-hover-description rer-font-opensans">Administrativas<br><span class="rer-font-opensans-bold">Estado de México</span></p>
          </div>
        </a>
      </div>
      <div class="project-image-content project-2">
        <a href="open-project.html">
          <div class="project-hover">
            <h3 class="project-hover-title rer-font-opensans-bold">Mexlam</h3>
            <div class="project-hover-separator-mobile"></div>
            <p class="description-desktop project-hover-description rer-font-opensans">Empresa Acerera | <span class="project-hover-bold rer-font-opensans-bold">Estado de México</span></p>
            <p class="description-mobile project-hover-description rer-font-opensans">Empresa Acerera<br><span class="rer-font-opensans-bold">Estado de México</span></p>
          </div>
        </a>
      </div>
      <div class="project-image-content project-3">
        <a href="open-project.html">
          <div class="project-hover">
            <h3 class="description-desktop project-hover-title rer-font-opensans-bold">New age industries</h3>
            <h3 class="description-mobile project-hover-title rer-font-opensans-bold">New age<br>industries</h3>
            <p class="description-desktop project-hover-description rer-font-opensans">Manufacturas y Fabricante de Tubos</p>
            <div class="project-hover-separator-mobile"></div>
            <p class="description-desktop project-hover-description rer-font-opensans">Administrativas | <span class="project-hover-bold rer-font-opensans-bold">Estado de México</span></p>
            <p class="description-mobile project-hover-description rer-font-opensans">Administrativas<br><span class="rer-font-opensans-bold">Estado de México</span></p>
          </div>
        </a>
      </div>
      <div class="project-image-content project-4">
        <a href="open-project.html">
          <div class="project-hover">
            <h3 class="project-hover-title rer-font-opensans-bold">Conceptos</h3>
            <div class="project-hover-separator-mobile"></div>
            <p class="description-desktop project-hover-description rer-font-opensans">Empresa de Trefilados | <span class="project-hover-bold rer-font-opensans-bold">Estado de México</span></p>
            <p class="description-mobile project-hover-description rer-font-opensans">Empresa de Trefilados<br><span class="rer-font-opensans-bold">Estado de México</span></p>
          </div>
        </a>
      </div>
      <div class="project-image-content project-5">
        <a href="open-project.html">
          <div class="project-hover">
            <h3 class="description-desktop project-hover-title rer-font-opensans-bold">Bodega almacenamiento</h3>
            <h3 class="description-mobile project-hover-title rer-font-opensans-bold">Bodega<br>almacenamiento</h3>
            <div class="project-hover-separator-mobile"></div>
            <p class="description-desktop project-hover-description rer-font-opensans">Usos diversos | <span class="project-hover-bold rer-font-opensans-bold">Estado de México</span></p>
            <p class="description-mobile project-hover-description rer-font-opensans">Usos diversos<br><span class="rer-font-opensans-bold">Estado de México</span></p>
          </div>
        </a>
      </div>
      <div class="project-image-content project-6">
        <a href="open-project.html">
          <div class="project-hover">
            <h3 class="description-desktop project-hover-title rer-font-opensans-bold">Edificio de oficinas</h3>
            <h3 class="description-mobile project-hover-title rer-font-opensans-bold">Edificio<br>de oficinas</h3>
            <div class="project-hover-separator-mobile"></div>
            <p class="description-desktop project-hover-description rer-font-opensans">Administrativas | <span class="project-hover-bold rer-font-opensans-bold">Estado de México</span></p>
            <p class="description-mobile project-hover-description rer-font-opensans">Administrativas<br><span class="rer-font-opensans-bold">Estado de México</span></p>
          </div>
        </a>
      </div>
      <div class="project-image-content project-7">
        <a href="open-project.html">
          <div class="project-hover">
            <h3 class="description-desktop project-hover-title rer-font-opensans-bold">Edificio de oficinas</h3>
            <h3 class="description-mobile project-hover-title rer-font-opensans-bold">Edificio<br>de oficinas</h3>
            <div class="project-hover-separator-mobile"></div>
            <p class="description-desktop project-hover-description rer-font-opensans">Administrativas | <span class="project-hover-bold rer-font-opensans-bold">Estado de México</span></p>
            <p class="description-mobile project-hover-description rer-font-opensans">Administrativas<br><span class="rer-font-opensans-bold">Estado de México</span></p>
          </div>
        </a>
      </div>
      <div class="project-image-content project-8">
        <a href="open-project.html">
          <div class="project-hover">
            <h3 class="description-desktop project-hover-title rer-font-opensans-bold">Edificio de oficinas</h3>
            <h3 class="description-mobile project-hover-title rer-font-opensans-bold">Edificio<br>de oficinas</h3>
            <div class="project-hover-separator-mobile"></div>
            <p class="description-desktop project-hover-description rer-font-opensans">Administrativas | <span class="project-hover-bold rer-font-opensans-bold">Estado de México</span></p>
            <p class="description-mobile project-hover-description rer-font-opensans">Administrativas<br><span class="rer-font-opensans-bold">Estado de México</span></p>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}