{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="open-project-container">
    <div class="open-project-square"></div>
    <div class="open-project-carousel">
      <div class="open-project-content">
        <div class="open-project-ten-1 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Bodega</h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Usos Diversos</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 31.05 kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles Trina Solar</li>
            <li class="open-project-list">Inversores Fronius</li>
            <li class="open-project-list">Estructura montada sobre lámina</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
