{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="open-project-container">
    <div class="open-project-square"></div>
    <div class="open-project-carousel">
      <div class="open-project-content">
        <div class="open-project-six-1 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">American <span class="rer-font-roboto-bold">Power Net</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">Empresa de Electricidad</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño techo:</span> 23 kW</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño estacionamiento:</span> 17 kW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles Canadian Solar</li>
            <li class="open-project-list">Inversores ABB</li>
            <li class="open-project-list">Estructura IronRidge y Baja Carport</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
