{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="open-project-container">
    <div class="open-project-square"></div>
    <div class="open-project-carousel">
      <div class="open-project-content">
        <div class="open-project-eleven-1 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">AGP <span class="rer-font-roboto-bold">Plásticos</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">AGP Plásticos es una empresa productora de los intercaladores de la más alta calidad para láminas y transparencias de vidrio, utilizada en el sector de construcción, transporte e ingeniería.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 602.5 KW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: Hanwha 325 Watts</li>
            <li class="open-project-list">Inversores: Solectria</li>
            <li class="open-project-list">Estructuras: K&B</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-eleven-2 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">AGP <span class="rer-font-roboto-bold">Plásticos</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">AGP Plásticos es una empresa productora de los intercaladores de la más alta calidad para láminas y transparencias de vidrio, utilizada en el sector de construcción, transporte e ingeniería.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 602.5 KW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: Hanwha 325 Watts</li>
            <li class="open-project-list">Inversores: Solectria</li>
            <li class="open-project-list">Estructuras: K&B</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-eleven-3 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">AGP <span class="rer-font-roboto-bold">Plásticos</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">AGP Plásticos es una empresa productora de los intercaladores de la más alta calidad para láminas y transparencias de vidrio, utilizada en el sector de construcción, transporte e ingeniería.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 602.5 KW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: Hanwha 325 Watts</li>
            <li class="open-project-list">Inversores: Solectria</li>
            <li class="open-project-list">Estructuras: K&B</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-eleven-4 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">AGP <span class="rer-font-roboto-bold">Plásticos</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">AGP Plásticos es una empresa productora de los intercaladores de la más alta calidad para láminas y transparencias de vidrio, utilizada en el sector de construcción, transporte e ingeniería.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 602.5 KW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: Hanwha 325 Watts</li>
            <li class="open-project-list">Inversores: Solectria</li>
            <li class="open-project-list">Estructuras: K&B</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-eleven-5 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">AGP <span class="rer-font-roboto-bold">Plásticos</span></h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans">AGP Plásticos es una empresa productora de los intercaladores de la más alta calidad para láminas y transparencias de vidrio, utilizada en el sector de construcción, transporte e ingeniería.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 602.5 KW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: Hanwha 325 Watts</li>
            <li class="open-project-list">Inversores: Solectria</li>
            <li class="open-project-list">Estructuras: K&B</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
