{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="open-project-container">
    <div class="open-project-square"></div>
    <div class="open-project-carousel">
      <div class="open-project-content">
        <div class="open-project-four-1 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Walworth</h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans hide-part-text-projects-desktop">Aprovechando el espacio disponible de un terreno municipal sin uso, RER Energy Group construyó una pequeña granja solar para el municipio de Walworth. Este sistema genera ahorros significativos para el municipio que durarán 30 años, lo cual significa que tendrán menores costos y se utilizará de forma más productiva el recurso aportado por  residentes del municipio.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 2.49 MW</p>

          <p class="open-project-description rer-font-opensans hide-part-text-projects-mobile">RER Energy Group construyó una pequeña granja solar para el municipio de Walworth. Este sistema genera ahorros significativos para el municipio que durarán 30 años.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 2.49 MW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: Trina Solar 310Watts</li>
            <li class="open-project-list">Inversores: Solectria Renewables</li>
            <li class="open-project-list">Estructuras: Solar Flex Racking</li>
          </ul>
        </div>
      </div>
      <div class="open-project-content">
        <div class="open-project-four-2 open-project-image-container"></div>
        <div class="open-project-info">
          <h1 class="open-project-title rer-font-roboto-regular">Walworth</h1>
          <div class="open-project-separator open-project-desktop"></div>
          <p class="open-project-description rer-font-opensans hide-part-text-projects-desktop">Aprovechando el espacio disponible de un terreno municipal sin uso, RER Energy Group construyó una pequeña granja solar para el municipio de Walworth. Este sistema genera ahorros significativos para el municipio que durarán 30 años, lo cual significa que tendrán menores costos y se utilizará de forma más productiva el recurso aportado por  residentes del municipio.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 2.49 MW</p>

          <p class="open-project-description rer-font-opensans hide-part-text-projects-mobile">RER Energy Group construyó una pequeña granja solar para el municipio de Walworth. Este sistema genera ahorros significativos para el municipio que durarán 30 años.</p>
          <p class="open-project-description"><span class="rer-font-opensans-bold">Tamaño:</span> 2.49 MW</p>
          <div class="open-project-separator"></div>
          <ul class="open-project-ul">
            <li class="open-project-list">Paneles: Trina Solar 310Watts</li>
            <li class="open-project-list">Inversores: Solectria Renewables</li>
            <li class="open-project-list">Estructuras: Solar Flex Racking</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
