{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="solar-benefits-container">
    <div class="solar-benefits">
      <h1 class="solar-benefits-title"><span class="solar-benefits-bold">Beneficios</span> solares</h1>
      <p class="solar-benefits-description">
        México está clasificado como uno de los países con<br><span class="solar-benefits-bold">mayor potencial de energía solar</span> a nivel mundial.
      </p>
      <button class="solar-benefits-button">¿Cómo funciona?</button>
    </div>
    <div class="solar-benefits-why">
      <h1 class="why-title">¿Por qué <span class="why-bold">México</span>?</h1>
      <p class="why-descripcion">
        La energía solar es una <span class="why-description-bold">excelente oportunidad de inversión</span> en este país, donde nuestros clientes pueden lograr ahorros significativos sobre las tarifas actuales de la Comisión Federal de Electricidad (CFE) y generar un flujo de ingresos adicional gracias a varios factores:
      </p>
      <div class="why-container">
        <div class="why-content">
          <div class="why-image-container">
            <img class="why-image" src="img/why-mx/why-mx-1.png">
          </div>
          <p class="why-content-description">Intensa irradiación solar</p>
        </div>
        <div class="why-content">
          <div class="why-image-container">
            <img class="why-image" src="img/why-mx/why-mx-2.png">
          </div>
          <p class="why-content-description">Altas tarifas de<br>electricidad de CFE</p>
        </div>
        <div class="why-content">
          <div class="why-image-container">
            <img class="why-image" src="img/why-mx/why-mx-3.png">
          </div>
          <p class="why-content-description">Depreciación acelerada del<br>100% en el primer año</p>
        </div>
        <div class="why-content">
          <div class="why-image-container">
            <img class="why-image" src="img/why-mx/why-mx-4.png">
          </div>
          <p class="why-content-description">Certificados de<br>Energías Limpias (CEL)</p>
        </div>
      </div>
    </div>
    <div class="solar-benefits-generate">
      <h2 class="generate-title">Genera ingresos  en tu<br>espacio libre  con energía solar</h2>
      <div class="generate-title-underline"></div>
      <p class="generate-description">
        La industria energética tiene gran dinamismo debido al ritmo tan rápido de la innovación tecnológica y a los cambiantes incentivos financieros ofrecidos por el gobierno. En términos generales, <span class="generate-description-bold">primero identificamos cómo reducir el consumo de energía. Como segundo paso, buscamos reemplazar la compra de energía con sistemas de energía solar. Para finalizar, brindamos asesoría en seleccionar la opción más costo-eficiente del faltante de energía, aprovechando el nuevo mercado eléctrico mexicano.</span> Aplicamos esta filosofía tridimensional para todos nuestros proyectos.
      </p>
      <div class="generate-image-container">
        <img class="generate-image" src="img/utils/solar-benefits-4.png">
      </div>
    </div>
    <div class="solar-benefits-how">
      <div class="panel-gray">
        <div class="panel-image-container">
          <img class="panel-image" src="img/utils/solar-benefits-5.png">
        </div>
      </div>
      <div class="how-container">
        <div class="how-content">
          <h2 class="how-title"><span class="how-title-bold">¿Cómo</span> funciona?</h2>
          <div class="how-info-section">
            <h3 class="how-info-title">Comprador</h3>
            <p class="how-info-description">
              La nueva ley que entra en vigor en el 2018 exige a ciertas industrias contaminantes cumplir con un 5% de energía renovable, de lo contrario deben comprar CEL.
            </p>
          </div>
          <div>
            <h3 class="how-info-title">Vendedor</h3>
            <p class="how-info-description">
              Cualquier usuario calificado conectado a la red de CFE que decida instalar energía renovable puede vender certificados CEL, equivalentes a la producción de energía limpia de su sistema. Únicamente requieren instalar un equipo contador de CEL.
            </p>
          </div>
          <div>
            <h3 class="how-info-title">Oferta y demanda</h3>
            <p class="how-info-description">
              La ley estipula que el porcentaje requerido por las empresas contaminantes incrementará con el paso de los años hasta cumplir las metas gubernamentales de reducción de emisiones de gases de invernadero. Hoy en día requieren CEL empresas como CFE, PEMEX y algunas mineras, pero la ley también estipula que con el paso del tiempo también incrementarán las industrias que tengan este requisito. El riesgo latente existe para el sector industrial en general.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <footer class="site-footer">
  <div class="footer-container">
    <div class="footer-column_one show-desktop hide-mobile">
      <img src="img/logo/rer_logo-white.png" alt="" class="logo-footer">
      <p class="copyright rer-font-opensans-light">© Copyright, RER 2017</p>
    </div>
    <div class="footer-column_two">
      <div class="footer_menu">
        <div class="footer_menu-column_one">
          <div class="rer-logo-footer hide-desktop show-mobile">
            <img src="img/logo/rer_logo-white.png" alt="" class="logo-footer">
          </div>
          <a href="" class="footer_menu-link rer-font-opensans-footer">Planes y servicios</a>
          <a href="" class="footer_menu-link rer-font-opensans-footer">Beneficios solares</a>
          <a href="" class="footer_menu-link rer-font-opensans-footer">Proyectos</a>
          <a href="" class="footer_menu-link rer-font-opensans-footer">Noticias</a>
        </div>
        <div class="footer-hr-vertical hide-desktop show-mobile"></div>
        <div class="footer-menu-row">
          <div class="footer_menu-column_two">
            <a href="" class="footer_menu-link rer-font-opensans-footer">Quiénes somos</a>
            <a href="" class="footer_menu-link rer-font-opensans-footer">Equipo</a>
            <a href="" class="footer_menu-link rer-font-opensans-footer">Contacto</a>
          </div>
          <div class="footer_menu-column_three">
            <a href="">
              <img class="icon" src="img/li-icon.svg" alt="">
            </a>
            <a href="">
              <img src="img/fb-icon.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="hide-desktop show-mobile">
      <p class="copyright rer-font-opensans-light copyright-center">© Copyright, RER 2017</p>
    </div>
  </div>
</footer>
{% endblock %}