<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Global site tag (gtag.js) - Google Ads: 765997822 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-765997822"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-765997822');
    </script>

    <!-- Event snippet for Leads Formulario conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
      function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          // window.location = url;
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-765997822/fTX1CK3W9ZMBEP7loO0C',
          'event_callback': callback
      });
      return false;
      }
    </script>  

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="En RER utilizamos las marcas #1 de paneles solares con 25 años de garantía. Únicamente trabajamos con productos líderes de la industria, con el fin de maximizar la duración de vida de la producción de energía. ">
    <meta name="keywords" content="Solar, energía, renovable, paneles, ahorro, financiamiento, instalación, módulos favoltáicos, méxico.">
    <meta property="og:url" content="http://rerenergygroup.com.mx/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Desarrollo y financiamiento solar | RER" />
    <meta property="og:description" content="En RER utilizamos las marcas #1 de paneles solares con 25 años de garantía. Únicamente trabajamos con productos líderes de la industria, con el fin de maximizar la duración de vida de la producción de energía." />
    <meta property="og:image" content="http://rerenergygroup.com.mx/images/RER-FOTO-FACE.jpg" />
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Desarrollo y financiamiento solar | RER</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div id="page">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
        <a class="whatsappClick ws_all" href="https://api.whatsapp.com/send?phone=5215529227814" target="_blank" style="display:none">
          <span class="hoverText">Atención en línea</span>
          <img src="img/utils/whatsapp.png" alt="">
        </a>
        <a class="whatsappClick ws_safari" href="https://web.whatsapp.com/send?phone=5215529227814" target="_blank" style="display:none">
          <span class="hoverText">Atención en línea</span>
          <img src="img/utils/whatsapp.png" alt="">
        </a>
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
