<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="En RER utilizamos las marcas #1 de paneles solares con 25 años de garantía. Únicamente trabajamos con productos líderes de la industria, con el fin de maximizar la duración de vida de la producción de energía. ">
    <meta name="keywords" content="Solar, energía, renovable, paneles, ahorro, financiamiento, instalación, módulos favoltáicos, méxico.">
    <meta property="og:url" content="http://rerenergygroup.com.mx/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Desarrollo y financiamiento solar | RER" />
    <meta property="og:description" content="En RER utilizamos las marcas #1 de paneles solares con 25 años de garantía. Únicamente trabajamos con productos líderes de la industria, con el fin de maximizar la duración de vida de la producción de energía." />
    <meta property="og:image" content="http://rerenergygroup.com.mx/img/RER-FOTO-FACE.jpg" />
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Desarrollo y financiamiento solar | RER</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div id="page">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
