<footer class="site-footer {% if section == 'index' %}site-footer-index{% endif %}">
  <div class="footer-container">
    <div class="footer-column_one">
      <a class="rer-logo" href="#">
        <img class="logo-footer" src="img/logo/white-rer-logo.png" alt="Logo RER">
      </a>
      <a class="more-seo" href="http://www.getmore.mx">
        <img src="img/icons/favicon-more.png" alt="M CO.">
      </a>
      <p class="copyright rer-font-opensans">© Copyright, RER 2017</p>
    </div>
    <div class="footer-column_two">
      <div class="footer_menu">
        <div class="footer_menu-column_one">
          <a class="rer-logo-mobile" href="#">
            <img class="logo-footer" src="img/logo/white-rer-logo.png" alt="Logo RER">
          </a>
          <a href="plans-services.html" class="footer_menu-link rer-font-opensans-footer {% if section == 'plans-services' %}active{% endif %}">Planes y servicios</a>
          <a href="solar-benefits.html" class="footer_menu-link rer-font-opensans-footer {% if section == 'solar-benefits' %}active{% endif %}">Beneficios solares</a>
          <a href="projects.html" class="footer_menu-link rer-font-opensans-footer {% if section == 'projects' %}active{% endif %}">Proyectos</a>
          <a href="news.html" class="footer_menu-link  rer-font-opensans-footer {% if section == 'news' %}active{% endif %}">Noticias</a>
        </div>
        <div class="footer-separator"></div>
        <div class="footer-menu-row">
          <div class="footer_menu-column_two">
            <a href="about.html" class="footer_menu-link rer-font-opensans-footer {% if section == 'about' %}active{% endif %}">Quiénes somos</a>
            <a href="contact.html" class="footer_menu-link rer-font-opensans-footer {% if section == 'contact' %}active{% endif %}">Contacto</a>
          </div>
          <div class="footer_menu-column_three">
            <a href="">
              <img class="icon icon-size" src="img/fb-icon.svg" alt="facebook">
            </a>
            <a href="https://www.linkedin.com/company/3195688/">
              <img class="icon-size" src="img/li-icon.svg" alt="in">
            </a>
          </div>
        </div>
      </div>
    </div>
    <p class="copyright-mobile rer-font-opensans">© Copyright, RER 2017</p>
  </div>
</footer>