<footer class="site-footer site-footer-hide-mobile">
  <div class="footer-container">
    <div class="footer-column_one">
      <img src="img/logo/rer_logo-white.png" alt="" class="logo-footer">
      <p class="copyright rer-font-opensans-light show-desktop hide-mobile">© Copyright, RER 2017</p>
    </div>
    <div class="footer-column_two">
      <div class="footer_menu">
        <div class="footer_menu-column_one">
          <a href="" class="footer_menu-link rer-font-opensans-footer">Planes y servicios</a>
          <a href="" class="footer_menu-link rer-font-opensans-footer">Beneficios solares</a>
          <a href="" class="footer_menu-link rer-font-opensans-footer">Proyectos</a>
          <a href="" class="footer_menu-link rer-font-opensans-footer">Noticias</a>
        </div>
        <div class="footer-menu-row">
          <div class="footer_menu-column_two">
            <a href="" class="footer_menu-link rer-font-opensans-footer">Quiénes somos</a>
            <a href="" class="footer_menu-link rer-font-opensans-footer">Equipo</a>
            <a href="" class="footer_menu-link rer-font-opensans-footer">Contacto</a>
          </div>
          <div class="footer_menu-column_three">
            <a href="">
              <img class="icon" src="img/li-icon.svg" alt="">
            </a>
            <a href="">
              <img src="img/fb-icon.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="hide-desktop show-mobile">
      <p class="copyright rer-font-opensans-light">© Copyright, RER 2017</p>
    </div>
  </div>
</footer>
