<nav class="site-navbar">
  <div class="site-navbar__desktop-logo-container">
    <a href="index.html"><img class="navbar-logo-mobile" src="img/logo/rer_logo-color.png" alt="Logo RER"></a>
  </div>
  <div class="site-navbar__menu-trigger">
    <span class="fa fa-bars"></span>
  </div>
  <div class="site-navbar__menu-container">
    <div class="site-navbar__mobile-logo-container">
      <a href="index.html"><img src="/img/logo/rer_logo-color.png" alt="Logo"></a>
    </div>
    <div class="site-navbar__menu rer-font-opensans">
      <a href="index.html" class="site-navbar__menu-link {% if section == 'index' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Inicio</span>
      </a>
      <a href="plans-services.html" class="site-navbar__menu-link {% if section != 'index' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Planes y servicios</span>
      </a>
      <a href="solar-benefits.html" class="site-navbar__menu-link {% if section != 'index' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Beneficios solares</span>
      </a>
      <a href="index.html" class="site-navbar__menu-link {% if section != 'index' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Proyectos</span>
      </a>
      <a href="index.html" class="site-navbar__menu-link {% if section != 'index' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Noticias</span>
      </a>
      <a href="index.html" class="site-navbar__menu-link {% if section != 'index' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Quiénes somos</span>
      </a>
      <a href="index.html" class="site-navbar__menu-link {% if section != 'index' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Contacto</span>
      </a>
    </div>
  </div>
  <div class="navbar-hamburguer-visibility">
    <div class="navbar-hamburguer">
      <div class="align-content-hamburguer">
        <div class="line-hamburguer-base line-hamburguer-lg"></div>
        <div class="line-hamburguer-base line-hamburguer-lg margin-vertical-4px"></div>
        <div class="line-hamburguer-base line-hamburguer-md"></div>
      </div>
    </div>
  </div>
</nav>