<nav class="site-navbar
            {% if section == 'plans-services' %}navbar-blue{% endif %}
            {% if section == 'projects' %}navbar-strong-blue{% endif %}
            {% if section == 'open-project' %}navbar-strong-blue{% endif %}
            {% if section == 'news' %}navbar-blue{% endif %}
            {% if section == 'contact' %}navbar-strong-blue{% endif %}
            {% if section == 'about' %}navbar-strong-blue{% endif %}">
  <div class="site-navbar__desktop-logo-container">
    <a href="index.html">
      {% if section == 'index' %}<img class="navbar-logo-mobile" src="img/logo/rer_logo-color.png" alt="Logo RER">{% endif %}
      {% if section != 'index' %}<img class="navbar-logo-mobile" src="img/logo/rer_logo-white.png" alt="Logo RER">{% endif %}
    </a>
  </div>
  <div class="site-navbar__menu-trigger">
    <span class="fa fa-bars"></span>
  </div>
  <div class="site-navbar__menu-container">
    <div class="site-navbar__mobile-logo-container">
      <a href="index.html"><img src="/img/logo/rer_logo-color.png" alt="Logo"></a>
    </div>
    <div class="site-navbar__menu rer-font-opensans">
      <a href="index.html" class="site-navbar__menu-link {% if section == 'index' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Inicio</span>
      </a>
      <a href="plans-services.html" class="site-navbar__menu-link {% if section == 'plans-services' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Planes y servicios</span>
      </a>
      <a href="solar-benefits.html" class="site-navbar__menu-link {% if section == 'solar-benefits' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Beneficios solares</span>
      </a>
      <a href="projects.html" class="site-navbar__menu-link {% if section == 'projects' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Proyectos</span>
      </a>
      <a href="news.html" class="site-navbar__menu-link {% if section == 'news' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Noticias</span>
      </a>
      <a href="about.html" class="site-navbar__menu-link {% if section == 'about' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Quiénes somos</span>
      </a>
      <a href="contact.html" class="site-navbar__menu-link {% if section == 'contact' %}active{% endif %}">
        <div class="nav_stroke-container">
          <div class="nav_stroke"></div>
        </div>
        <span>Contacto</span>
      </a>
    </div>
  </div>
  <div data-attribute="" class="navbar-hamburguer-visibility" onclick="showMenuHamburger()" id="hamburgerMenu">
    <div class="navbar-hamburguer" data-attribute="">
      <div class="align-content-hamburguer" data-attribute="">
        <div class="line-hamburguer-base line-hamburguer-lg" data-attribute=""></div>
        <div class="line-hamburguer-base line-hamburguer-lg margin-vertical-4px" data-attribute=""></div>
        <div class="line-hamburguer-base line-hamburguer-md" data-attribute=""></div>
      </div>
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer" data-attribute="">
    <div class="hamburger-menu-header" data-attribute="">
      <div class="" data-attribute="">
        <a href="" data-attribute="">
          <img class="hamburger-logo" src="img/logo/white-rer-logo.png" data-attribute="">
        </a>
      </div>
      <div class="hamburger-close-container" onclick="hideMenuHamburger()">
        <img class="hamburger-close" src="img/icons/close-menu.png">
      </div>
    </div>
    <div class="hamburger-menu-body" data-attribute="">
      <a data-attribute="" href="index.html" class="hamburger-menu-link {% if section == 'index' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">Inicio</span>
        </div>
      </a>
      <a data-attribute="" href="plans-services.html" class="hamburger-menu-link {% if section == 'plans-services' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">Planes y servicios</span>
        </div>
      </a>
      <a data-attribute="" href="solar-benefits.html" class="hamburger-menu-link {% if section == 'solar-benefits' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">Beneficios solares</span>
        </div>
      </a>
      <a data-attribute="" href="projects.html" class="hamburger-menu-link {% if section == 'projects' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">Proyectos</span>
        </div>
      </a>
      <a data-attribute="" href="news.html" class="hamburger-menu-link {% if section == 'news' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">Noticias</span>
        </div>
      </a>
      <a data-attribute="" href="about.html" class="hamburger-menu-link {% if section == 'about' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">Quiénes somos</span>
        </div>
      </a>
      <a data-attribute="" href="contact.html" class="hamburger-menu-link {% if section == 'contact' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">Contacto</span>
        </div>
      </a>
    </div>
  </div>
</nav>