.site-footer
  height 500px
  background url('../img/backgrounds/footer.jpg') center
  background-size cover
  padding-top 267px
  z-index 3

.footer-container
  max-width 912px
  max-height 140px
  center-block()
  display flex

.footer-column_one
  width 50%
  
.logo-footer
  width 176px
  margin-bottom 64px

.copyright
  color #fff
  letter-spacing 1.5px
  font-size remify(13px)
  margin 0

.footer-column_two
  width 50%

.footer_menu
  display flex

.footer_menu-column_one
  margin-right 65px

.footer_menu-link
  display block
  margin-bottom 30px
  text-transform uppercase
  font-size remify(12px)
  width 155px
  letter-spacing 1.4px
  color #fff
  line-height 1.5
  transition .3s all ease
  
  &:hover
    color #2a97e6

.footer_menu-column_two
  margin-right 20px

.footer_menu-column_three
  .icon
    margin-right 12px
