.site-footer-index
  height 500px
  background url('../img/backgrounds/footer.jpg') center
  background-size cover
  padding-top 267px
  z-index 3
  
.site-footer
  height 400px
  background url('../img/backgrounds/footer.jpg') center
  background-size cover
  padding-top 128px
  z-index 3

.footer-container
  max-width 912px
  max-height 140px
  center-block()
  display flex

.footer-column_one
  width 50%
  
.logo-footer
  width 176px
  margin-bottom 64px

.copyright
  color #fff
  letter-spacing 1.5px
  font-size remify(13px)
  margin 0

.footer-column_two
  width 50%

.footer_menu
  display flex

.footer_menu-column_one
  margin-right 65px

.footer_menu-link
  display block
  margin-bottom 30px
  text-transform uppercase
  font-size remify(12px)
  width 155px
  letter-spacing 1.4px
  color #fff
  line-height 1.5
  transition .3s all ease
  
  &:hover
    color #2a97e6
    
.footer-menu-row
  display flex
  flex-direction row

.footer_menu-column_two
  margin-right 20px

.footer_menu-column_three
  .icon
    margin-right 12px

@media screen and (max-width 975px)
  .site-footer
    display flex
    height 1060px
    padding-left 20px
    padding-right 20px
    padding-top 330px
    
  .site-footer-hide-mobile
    display none

  .footer-container
    flex-direction column
    width 100%
    
  .footer_menu-column_one
    margin-right 0px
    position relative
    
  .footer_menu
    flex-direction row
    justify-content space-around
    width 100%
    
  .footer_menu-link
    margin-bottom 16px
    width auto
    
  .footer-menu-row
    flex-direction column

  .logo-footer
    width 113px
    margin-bottom 0px
    
  .footer-column_two
    display flex
    justify-content center
    width 100%
    
  .footer_menu-column_two
    margin-right 0px
    
  .footer-hr-vertical
    background-color #0068b3
    height 114px
    margin 0px 20px
    width 1px
    
  .copyright-center
    margin-top 40px
    text-align center
    
  .rer-logo-footer
    position absolute
    top -90px
  