.site-navbar
  display flex
  align-items center
  height 94px // Change
  left 0
  position fixed
  top 0
  width 100%
  z-index 12
  padding 0 60px 0 20px
  transition .3s background ease

  & + main
    padding-top 0 // Change
    
.navbar-strong-blue
  background-color #142d3f
  
.navbar-blue
  background-color #106198
    
.nav-transparent-bg
  background transparent

.nav-white-bg
  background #fefefe
  box-shadow 0 2px 9px 0 rgba(0, 0, 0, 0.14)
  .site-navbar__menu-link
    color #235ca9
    &.active
      .nav_stroke
        background-color #235ca9
      &:hover
        .nav_stroke
          background-color #235ca9
    &:hover
      .nav_stroke
        height 100%
        background-color #235ca9
  .nav_stroke-container
    height 27px
  .nav_stroke
    background #d4dddd

.site-navbar__menu-trigger,
.site-navbar__mobile-logo-container
  display none

.site-navbar__menu-trigger
  color white // Change

.site-navbar__desktop-logo-container
  img
    width remify(216) // Change

.site-navbar__menu-container
  flex-grow 1
  text-align right
  height 100%

.site-navbar__menu
  height 100%
  display flex
  align-items flex-start
  justify-content flex-end

.nav_stroke-container
  height 36px
  width 1px
  center-block()
  margin-bottom 15px
  transition .3s height ease

.nav_stroke
  height 50%
  width 1px
  background-color $rerblue-one
  transition 300ms height, color ease
  

.site-navbar__menu-link
  color #fff // Change
  font-size remify(12) // Change
  text-transform uppercase
  letter-spacing 1.4px
  cursor pointer
  font-weight $thin
  margin-right 30px

  &.active
    font-family 'OpenSans-Bold'
    
  &:hover, &.active
    .nav_stroke
      height 100%
      background-color #fff
    


.site-navbar__menu-link:last-child
  margin-right 0
  

@media screen and (max-width: 876px) // Change
  .site-navbar
    justify-content space-between
    height 56px // Change
    padding 0 18px // Change

  .site-navbar__desktop-logo-container
    img
      height remify(20) // Change
      width auto

  .site-navbar__mobile-logo-container
    display block
    center-block()
    width 70% // Change

    img
      width 100%

  .site-navbar__menu-trigger
    display block
    float right
    font-size 18px // Change

  .site-navbar__menu-container
    background white // Change
    height 100vh
    margin-right 0
    overflow-y auto
    position fixed
    right -280px
    top 0
    transition right 0.2s
    width 280px
    padding-top 25px // Change

  .site-navbar__menu-container--show-menu
    right 0

  .site-navbar__menu
    margin-bottom 30px // Change
    margin-top 30px // Change
    text-align left
    height auto
    flex-wrap wrap

  .site-navbar__menu-link
    display block
    height auto
    display block
    text-align left
    flex-basis 100%
    
  .navbar-hamburguer-visibilit
    display none
    
@media screen and (max-width 975px)
  .site-navbar__desktop-logo-container
    .navbar-logo-mobile
      height auto
      width 100px
      
  .navbar-hamburguer-visibilit
    display block
      
  .navbar-hamburguer
    width 33px
    height 33px
    border-radius 50%
    background-color #235ba8
    cursor pointer
    display flex
    justify-content center
    
  .align-content-hamburguer
    display flex
    flex-direction column
    justify-content center
    
  .line-hamburguer-base
    height 1px
    background-color #fff

  .line-hamburguer-lg
    width: 15px
    
  .line-hamburguer-md
    width 7.5px
    
  .margin-vertical-4px
    margin 4px 0px