// COLORS
$errorColor = #ff3636
$successColor = #149a14
$rerblue-one = #00497e
$rerblue-two = #0068b3
$rerblue-three = #132c3f
$rerblue-four = #132c3e
$rerblue-five = #1368ae
// Base font-size
$baseFontSize = 16

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black